body {
    background-color: #e0e0e0;
}

#nav-collapse .dropdown-menu {
    width: 100%;
    min-width: inherit;
}

#nav-admin {
    background-color: #1a2732;
    height: 80px !important;
    margin-bottom: 0;
}

#nav-admin .navbar-brand ,
#nav-admin .navbar-nav .dropdown > a {
    color: #fed189;
    padding: 0 20px;
    height: inherit !important;
    line-height: 80px;
    font-size: 25px;
}

#nav-admin .navbar-nav .dropdown > a {
    width: 115px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

#nav-admin .navbar-nav .dropdown > a:hover,
#nav-admin .navbar-nav .dropdown > a:focus{
    background-color: #80cbc4;
}

#nav-admin .navbar-nav>.open>a,
#nav-admin .navbar-nav>.open>a:focus,
#nav-admin .navbar-nav>.open>a:hover {
    background-color: #80cbc4 !important;
}

#nav-admin .navbar-nav .dropdown > a > i {
    margin-left: 5px;
}

#nav-admin .dropdown-menu {
    padding: 0;
}

#nav-admin .dropdown-menu > li > a {
    padding: 10px 20px;
}

#nav-admin .dropdown-menu > li > a:hover,
#nav-admin .dropdown-menu > li > a:focus {
    background-color: #80cbc4;
    color: #ffffff;
}

#nav-admin .dropdown-menu > li > a i {
    margin-right: 5px;
}

#nav-admin .navbar-toggle {
    margin-top: 19px;
    font-size: 16px;
    color: #ffffff;
}

#nav-admin .navbar-toggle:hover,
#nav-admin .navbar-toggle:focus {
    background-color: #eeeeee;
    color: #000000;
}

.left-wrapper {
    top:0;
    padding-top: 80px;
    width: 180px;
    height: 100%;
    position: fixed;
    background-color: #394a59;
    border-left: 1px solid #ffffff;
}

/* left menu */
.leftmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.leftmenu li {
    border-top: 1px solid white;
    font-size: 16px;
}

.leftmenu li {
    border-top: 1px solid white;
    font-size: 16px;
}

.leftmenu li:hover {
    background-color: #1E3244;
    cursor: pointer;
}

.leftmenu li:last-child {
    border-bottom: 1px solid #ffffff;
}

.leftmenu li a {
    display: block;
    color: #ffffff;
    padding: 15px 0 15px 30px;
    font-size: 18px;
    text-decoration: none;
}

.leftmenu .submenu-active {
    background: #1E3244 !important;
}
/* end left menu */

.right-wrapper {
    position: relative;
    top:80px;
    margin-left: 180px;
    padding: 0 15px 0 0;
    display: block;
    margin-bottom: 40px;
}

.right-wrapper .well {
    padding: 15px;
    background: transparent;
    margin-bottom: 0;
}

.header-selection {
    color: #616161;
    font-weight: bold;
}

.breadcrumb-menu {
    margin-left: 15px;
}

.box-category, .box-product {
    margin: 0 15px 40px 15px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 2px #607d8b;
    -moz-box-shadow: 0 0 2px #607d8b;
    box-shadow: 0 0 2px #607d8b;
}

.box-product {
    position: relative;
}

/* category page */
.box-category-header {
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #000000;
}

.box-category-content {
    padding: 20px 15px;
}

.box-category-content table th,
.box-category-content table td {
    text-align: center;
}

.box-category-content td a,
.box-category-content td span {
    text-decoration: none;
    font-weight: bold;
    color: #0288d1;
}

.box-category-content td a:hover {
    cursor: pointer;
}

.empty-category, .empty-product {
    color: red;
    font-weight: 500;
    text-transform: uppercase;
}
/* end catgeory page */

/* product page */
.box-product {
    padding: 20px 15px;
}

.slctCategory {
    margin-bottom: 10px;
}

#date-stock:hover,
#date-stock input:hover {
    cursor: pointer;
}

.btn-group-product {
    margin: 0 0 10px 0;
}

.row-product {
    padding-top: 5px;
    border-bottom: 1px solid #757575;
}

.button-group-listProduct {
    position: absolute;
    z-index: 1;
    right:20px;
    top:0;
}

#productName {
    font-size:14px;
    font-weight: bold;
    color:#0000FF;
}

.tableListProduct p {
    font-size:12px;
}

.rightBox-info {
    max-height: 186px;
    overflow-y: auto;
}

.tableListStock {
    width: 100%;
}

.tableListStock tr {
    height: 30px;
}

.listImageReview {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
    margin-bottom: 20px;
}

.listImage {
    width:1600px;
}

.thumbnailReview {
    display: inline-block;
    width:160px;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #757575;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.thumbnailReview-active {
    border-color: #008CBA;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.thumbnailReview img {
    height: 150px;
    width: 150px;
}

.thumbnailReview:hover {
    border-color: #008CBA;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.thumbnailCaption {
    padding: 5px;
}

.thumbnailCaption p {
    margin: 0 !important;
    text-align: center;
}

.btn-more-category {
    position: absolute;
    top: -35px;
    right: 0;
}

#more-category-box .form-group {
    margin-bottom: 10px !important;
}

.captionThumbnail {
    padding: 10px 0;
    text-align: center;
}

.captionThumbnail p {
    margin-bottom: 0 !important;
}

.main-picture {
    background-color: #449d44;
    font-weight: 400;
    color: #FFF;
}

.row-description {
    height:auto;
    max-height: 300px;
    overflow-y: auto;
}

#tblCatProduct {
    position: relative;
}

#tblCatProduct tr:last-child {
    border-bottom: 1px solid #ddd;
}
/* end product page */

/* Page Supplier */
.add-sup-box, .list-sup-box {
    padding: 10px;
}
/* end Page Supplier */

/* Page Shipping */
.province-box, .city-box {
    padding: 10px;
}
/* end Page Shipping */
@media screen and (max-width: 767px) {
    .right-wrapper {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 992px) {
    .rightBox-info {
        border-top: 1px solid #546e7a;
        margin-top: 5px;
        padding-top: 5px;
    }

    .leftBox-info {
        margin-bottom: 10px;
    }

    .listImageProduct {
        margin-top: 10px;
    }
}
