body{
	font-family: Open Sans !important;
	font-size: 14px;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

a{
	color: #000;
}

a:hover, a:focus {
    color: #f25f73;
}

.pagination a:hover{
	background: #f25f73;
	color: #fff;
}

.pagination .current{
	background: #f25f73;
	color: #fff;
}

.pagination .paging-order a{
    background: #f25f73;
    padding: 0.1875rem 0.625rem;
    color: #fff;
    border: 1px solid #f25f73;
}

.pagination .paging-order a:hover{
    background: #fff;
    padding: 0.1875rem 0.625rem;
    color: #f25f73;
    border: 1px solid #f25f73;
}

/*========== KEPALA ==========*/
#keranjang tbody tr:nth-child(2n) {
    background-color: #fff;
}

#keranjang li:hover{
	background: #f1f1f1;
}

#keranjang{
	background-color: #fff;
	top: 60.5784px;
	right: 88px;
	position: absolute;
	visibility: hidden;
	z-index:9;
}

#keranjang li {
    list-style: none;
	padding:10px 0px 11px 0px;
}
#keranjang .detail-keranjang, #keranjang .kosong-keranjang{padding-bottom: 0px;border-top: 1px solid #ceecec;}
#keranjang .detail-keranjang p, #keranjang .kosong-keranjang p{text-align: center;}

.list-order{
	font-size: 11px;
    margin: 0;
    padding: 0;
    width: 360px;
    border-bottom: 5px solid #f25f73;
    border-top: 1px solid #cacaca;
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
}

#profil{
	background: #fff;
	top: 60.5784px;
	right: 159px;
	border: 1px solid #cacaca;
	position: absolute;
	visibility: hidden;
	z-index: 9;
}

#profil a:hover{
	color: #f25f73;
}

#profil{
	margin: 0px;
}

#profil li{
	display: list-item;
	list-style: none;
	padding: 5px 15px;
	background-color: #fff;
}

#profil li .user-login:hover {
    background: #e5e5e5;
}
.login-box{
	background-color: #fefefe;
	border-radius: 0;
	display: block;
	font-size: 1rem;
	padding: 1rem;
	width: 350px;
	z-index: 10;
}

/*---------------*/

#login .request a:hover{
	color: #f25f73;
}

.reveal{
	width: 370px;
}
.rambut{
	padding-top: 0;
}

.logo{
	width: 25%;
}
/**/
.pencarian{
	width: 52em;
	padding-right: 73px;
}

.pencarian .kategori{
	background-color: #f25f73;
	border-color: #f25f73;
	color: #fff;
	float: left;
	width: 17%;
	height: 41px;
	text-align: center;
}

.pencarian .kolom{
	border-color: #959595;
	height: 41px;
	margin: 0;
	width: 83%
}

.pencarian .kolom .placeholder input[type="text"] {
	@include input-placeholder {
		font-style: italic;
	}
}

.pencarian .cari{
	background-color: #fff;
	border-color: #959595;
	color: #000;
	margin-top: -41px;
	float: right;
	position: relative;
	height: 41px;
}

/**/
.search-pane{
	/*width: 38em;*/
	/*padding-right: 73px;*/
}

.search-pane .kategori{
	background-color: #f25f73;
	border-color: #f25f73;
	color: #fff;
	float: left;
	width: 17%;
	height: 41px;
	text-align: center;
}

.search-pane .kolom{
	border-color: #959595;
	height: 41px;
	margin: 0;
	width: 83%
}

.search-pane .kolom .placeholder input[type="text"] {
	@include input-placeholder {
		font-style: italic;
	}
}

.search-pane .cari{
	background-color: #fff;
	border-color: #959595;
	color: #000;
	margin-top: -41px;
	float: right;
	position: relative;
	height: 41px;
}
/**/



.akun ul li a,
.akun ul li a:visited{
	color: #000;
}

.akun ul li a:hover{
	color: #f25f73;
}

.akun .active a {
	color: #f25f73 !important;
}

#kepala .garis{
	margin-bottom: 0px;
}

.head-nav{list-style-type: none;}
.head-nav li{float: left; margin-right: 12px;font-size: 11px;}
.head-nav li a{color: #fff;}
.head-nav li a:hover{color: #d97575;}

.sosial-nav {float: right;font-size:11px;margin-right:30px;}
.sosial-nav a{color: #000000;}
.sosial-nav a:hover{color: #d97575;}

.xfa-costume-2x{font-size: 1.5em;}
.xfa-costume-1x{font-size: smaller;top: -4px;}

.sosial-nav span a .fa-stack-2x{font-size: 1.5em;}				
.sosial-nav span a .fa-stack-1x{font-size: smaller;top: -4px;}				
			
/*header fixed*/
.header.fixed.is-fixed {
	background: #ffffff;
	/*opacity: 0.90748031496063;*/
}
.header.fixed.is-fixed {
	z-index: 999;
	position: fixed;
	width: 100%;
	top: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/*.menu-normal{
		max-width: 75rem;
		margin-left: auto;
		margin-right: auto;
}*/
.menu-normal .menu .lebel{
	background-color: #f25f73;
	color: #fff;
}

.menu-normal .menu li a{
	color: #000;
}

.menu-normal .menu li a:hover{
	color: #f25f73;
}

.menu-normal .menu .active > a {
	background-color: transparent;
	color: #f25f73;
}

.title-bar {
            width: 100%;
            z-index: 10;
            transition: height .25s ease;
            /*height: 9.5em;*/
            background-color: #fff;
            color: #000;
            border-bottom: 1px solid rgba(177, 177, 177, 0.35);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
        }

        .title-bar .title-bar-right,
        .title-bar .title-bar-left {
            transition: padding-top .25s ease;
            padding-top: 1.4em;
        }

        .title-bar.shrink {
            height: 4em;
        }

        .title-bar.shrink .title-bar-right,
        .title-bar.shrink .title-bar-left {
            padding-top: 0em;
        }

        .title-bar .dropdown.menu li {
            float: left;
        }

        .title-bar .dropdown.menu .is-dropdown-submenu {
            border: none;
            background-color: #fff;
        }
        .sticky.is-anchored {
             position: relative;
        }


        .menu-fixed{display: none;}
		.menu-fixed > ul > li > a {color:#000}
		.menu-fixed > ul > li > a:hover {color:#f25f73}

        .search-fixed{display: none}
        div#example-dropdown {
          margin-top: 0;
          margin-left: 0;
          top: -9px;
          left: 154.5px;
          border-radius: 5px;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
        }
        .cari{padding: 0.67em 1em;}
        .dropdown-pane {
          width: 420px;
        }

/* big menu */
.dropdown-pane.content-big-menu {
		width:600px;
		border-bottom: 5px solid #f25f73;
	}
	.content-big-menu li{list-style: none;}
	.content-big-menu hr{border-bottom: 1px solid #f25f73; margin: 0rem 0rem 1rem 0rem;}
	.content-big-menu .for-buttom{margin-top: 2rem;}
	.content-big-menu ul{ margin-left: 0.10rem;}


.categories-list{
	height: 520px;
	width: 260px;
	padding: 0;
	margin: 0;
	margin-left: -16px;
	margin-top: 11px;
	position: absolute;
	background: #3f3f3f;
	list-style-type: none;
	z-index: 100;
}

.categories-list li, .list-unstyled li{
	padding:10px;

}

.list-unstyled{
	list-style: none;
}

ul.categories-list .subcategories, ul.categories-list .subcategories .subcategory-scnd{
	position: absolute;
	left: 100%;
	top: 0;
}

ul.categories-list li.set{
	background: #f25f73;
	margin: 0;
}

ul.categories-list li.set > a, ul.categories-list li.set > a:hover{
	color: #fff;
}

.subcategories{
	display: none;
}

.subcategories > ul{
	width: 260px;
	height: 520px;
	background-color: #eee;
	position: relative;
	margin: 0;
	list-style-type: none;
}

.subcategory-scnd > ul{
	width: 260px;
	height: 520px;
	background-color: #fff;
	position: relative;
	margin: 0;
	list-style-type: none;
}

.category-banner-background {
  	right: -14px;
    bottom: 0;
    z-index: 88;
    position: absolute;
}

.categories-list, .subcategories, .subcategory-scnd{
	display: none;
}

#lv0:hover > .categories-list, #lv1:hover > .subcategories, #lv2:hover > .subcategory-scnd{
	display: block;
}

#lv0 li:hover{
	background: #f25f73;
}

#lv1 li:hover{
	background: none;
}

#lv2 li:hover{
	background: #eee;
}

/*========== LEHER  ==========*/
#leher{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
}

.homepage{
	/*background-image: url("../img/homepage.jpg");*/
	height: 520px;
	text-align: center;
}

.about{
	background-image: url("../img/about.jpg");
	height: 200px;
}

.help{
	background-image: url("../img/help.jpg");
	height: 200px;
}


.leher a, .leher a:visited{
	color: #fff;
}

.leher a:hover, .leher .current{
	color: #f25f73;
}

.judul_utama{
	padding-top: 82px;
	padding-bottom: 38px;
	text-align: center;
	font-size: 25px
}

.garis_tengah{
	display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.garis_tengah > .tengah{
	position: relative;
    display: inline-block;
}

.dropdown-pane .garis_tengah > .tengah:before,
.dropdown-pane .garis_tengah > .tengah:after {
	background: #dee5ea;
}

.garis_tengah > .tengah:before,
.garis_tengah > .tengah:after {
	content: " ";
	position: absolute;
	top: 50%;
	width: 546%;
	height: 1px;
	background: white;
}

.dropdown-pane .garis_tengah > .tengah:before{
	right: 100%;
	margin-right: 10px;
}

.garis_tengah > .tengah:before {
	right: 100%;
	margin-right: 90px;
}

.dropdown-pane .garis_tengah > .tengah:after{
	right: 100%;
	margin-left: 10px;
}

.garis_tengah > .tengah:after {
	left: 100%;
	margin-left: 90px;
}

#tempe_kiri {
	width: 0; height: 0;
	border: 10px solid transparent;
	border-bottom: 11px solid white;
	position: relative;
	top: -27px;
}

#tempe_kiri:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 45px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 11px solid white;
}

#tempe_kanan {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom: 11px solid white;
	position: relative;
	top: -27px;
}

#tempe_kanan:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 45px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 11px solid white;
}


/* Start terbaru */
.item-wrapper{border:1px solid #dde0e1;margin-bottom:30px;}
.item-wrapper .img-wrapper{
	height:250px;
	width:100%;
	overflow:hidden;
  	position: relative;
  	overflow: hidden;
}
/*.item-wrapper:hover .img-wrapper img {-webkit-filter: grayscale(0);filter: grayscale(0);}*/

.img-wrapper .new-sale {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #f25f73;
	padding: 10px 24px;
  top: 0;
	right: 0;
  position: absolute;
  z-index: 2;
  color: #fff;
  margin: 0 auto;
  border: none;
  box-shadow: none;
}
/*.item-wrapper:hover .img-wrapper .new-sale {top: 0;right: 0;}*/
/*.img-wrapper .new-sale:hover {background-color: #f25f73;}*/
.img-wrapper img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  /*-webkit-filter: grayscale(1);*/
  /*filter: grayscale(1);*/
  width: 100%;
}

.item-price{padding:15px}
.item-price p {font-weight:bold;color: #333;}
.item-price p:hover{color: #f25f73}
.item-price .default-price{color:#f25f73;}
.item-price .new-price{float:right;color:#f25f73;}
.item-price .old-price{text-decoration:line-through;color:#949597;}

/*---END Terbaru----*/


.jms-slideshow {
	position: relative;
	max-width: 100%;
	margin: 20px auto;
	height: 460px;
}

.jms-slideshow button{
	background: #f25f73;
	color: #fff;
}
.jms-wrapper {
	width: auto;
	/*min-width: 600px;*/
	height: 440px;


	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;

	outline: none;
	-webkit-transition: background-color 1s linear;
	-moz-transition: background-color 1s linear;
	-o-transition: background-color 1s linear;
	-ms-transition: background-color 1s linear;
	transition: background-color 1s linear;
}

.step {
	width: 900px;
    height: 420px;
	display: block;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.step:not(.active) {
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}
.jms-content3{
	margin: 150px 370px 0px 20px;
	position: relative;
	clear: both;
}

.jms-content1{
	margin: 150px 0px 0px 0px;
	position: relative;
	clear: both;
}

.jms-content2{
	margin: 150px 0px 0px 370px;
	position: relative;
	clear: both;
}

.step h3{
	color: #fff;
	font-size: 52px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	margin: 0;
	padding: 60px 0 10px 0;
}
.step p {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-size: 34px;
	font-weight: normal;
	position: relative;
	margin: 0;
}
a.jms-link{
	color: #fff;
	text-transform: uppercase;
	background: #969696; /* Old browsers */
	background: -moz-linear-gradient(top, #969696 0%, #727272 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#727272)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #969696 0%,#727272 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #969696 0%,#727272 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #969696 0%,#727272 100%); /* IE10+ */
	background: linear-gradient(top, #969696 0%,#727272 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#727272',GradientType=0 ); /* IE6-9 */
	padding: 8px 15px;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border: 1px solid #444;
	border-radius: 4px;
	opacity: 1;
	margin-top: 40px;
	clear: both;
	-webkit-transition: all 0.4s ease-in-out 1s;
	-moz-transition: all 0.4s ease-in-out 1s;
	-ms-transition: all 0.4s ease-in-out 1s;
	-o-transition: all 0.4s ease-in-out 1s;
	transition: all 0.4s ease-in-out 1s;
}
.step:not(.active) a.jms-link{
	opacity: 0;
	margin-top: 80px;
}
.step img{
	position: absolute;
	right: 0px;
	top: 30px;
}
.jms-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 2000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jms-dots span{
	display: none;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #777;
	margin: 3px;
	cursor: pointer;
	box-shadow:
		1px 1px 1px rgba(0,0,0,0.1) inset,
		1px 1px 1px rgba(255,255,255,0.3);
}
.jms-dots span.jms-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.jms-arrows{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jms-arrows span{
	position: absolute;
	top: 50%;
	margin-top: -40px;
	height: 80px;
	width: 30px;
	cursor: pointer;
	z-index: 2000;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.jms-arrows span.jms-arrows-prev{
	background: rgba(255, 255, 255, 0.5) url(../img/ar-l.png) no-repeat 50% 50%;
	left: 0px;
}
.jms-arrows span.jms-arrows-next{
	background: rgba(255, 255, 255, 0.5) url(../img/ar-r.png) no-repeat 50% 50%;
	right: 0px;
}
/* Not supported style */
.jms-wrapper.not-supported{
	background-color: #E3D8FF;
	background-color: rgba(227, 216, 268, 1);
}
.jms-wrapper.not-supported:after{
	content: 'The slideshow functionality is not supported on your device.';
	padding: 0px 0px 30px 0px;
	text-align: center;
	display: block;
}
.jms-wrapper.not-supported .step{
	display: none;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
	margin: 20px auto;
}
.jms-wrapper.not-supported .step:first-of-type{
	display: block;
}
.jms-wrapper.not-supported .step:not(.active) a.jms-link{
	opacity: 1;
	margin-top: 40px;
}

/*========== BADAN  ==========*/
.paging ul li a{
	color: #000;
}

#badan{
	background-color: #f6f9fb;
	text-align: justify;
    text-justify: inter-word;
}

a:hover{
	color: #f25f73;
}

#badan .perut{
	padding-top: 60px;
	padding-bottom: 60px;
}

.product-harga{
	padding-bottom:30px;
}
.product-select-harga{
	width:200px;
	border:none;
	background:none;
	color:#f25f73;
	margin:0px;
	cursor:pointer;
}
.product-select-view{
	width:50px;
	border:none;
	background:none;
	color:#f25f73;
	margin:0px;
	cursor:pointer;
}



table tbody .order-jum{text-align:-moz-center;text-align: center;text-align:-webkit-center;}
table tbody td [type='number']{
	width: 24%;
}

/* QTY */
input.quntity-input {
    width: 29%;
    height: 45px;
}

.sp-quantity {
		width:124px;
		/*height:42px;*/
		/*font-family:"ProximaNova Bold", Helvetica, Arial;*/
}
.sp-minus {
	position: relative;
	top: -37px;
	left: 26px;
}

.sp-plus {
	position: relative;
	top: 21px;
	left: 26px;
}

.sp-minus a, .sp-plus a {
	height: 100%;
	padding-top: 5px;
	color: #fff;
	background-color: black;
	display: table;
	width: 15px;
}

td .produk-thumb{width: 100px;height: 100px;}


/*#badan .perut a:hover{
	color: #fff;
}


#badan .perut a{
	color: #f25f73;
}*/

#badan .perut h5{
	font-weight: bold;
	color: #f25f73;
	font-style: normal;
	font-family: Helvetica, Roboto, Arial, sans-serif;
}

#badan .perut .kanan h5{
	font-weight: bold;
	color: #000;
}

.columns.large-4.kanan.side {

}

#badan .perut .kanan ul{
	margin-left: 0;
}

#badan .perut .kanan li{
	list-style-type: none;
}

#badan .perut .kanan li a:hover{
	color: #000;
}

.sticky {
  	position: relative;
  	top: 0;
}


#badan .perut .login{

}

.akun{padding-top: 10px;}

#badan .perut .judul_login{
	color: #f25f73;
	font-weight: bold;
	font-size: 25px;
}

#badan .perut .wall{
	background: #fff;
	border: 1px solid #c8cacc;
	padding: 40px 80px;
}

#badan .perut .wall .button{
	width: 100%;
	background-color: #f25f73;
	line-height: 25px
}

#badan .perut .wall .baru{
	width: 100%;
	background-color: #0d3955;
	line-height: 25px
}

#badan .perut .wall input[type="email"],
#login .wall-e input[type="email"],
#daftar input[type="email"],
#badan .perut .wall input[type="password"],
#login .wall-e input[type="password"],
#daftar input[type="password"],
#daftar input[type="text"]{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 15px 0;
	padding: 0;
	box-shadow: none;
	box-sizing: content-box;
	transition: all 0.3s;
}

#badan .perut .wall .garis_tengah{
	display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 28px;
}

#badan .perut .wall .garis_tengah > .tengah{
	position: relative;
    display: inline-block;
}

#badan .perut .wall .garis_tengah > .tengah:before,
#badan .perut .wall .garis_tengah > .tengah:after {
	content: " ";
	position: absolute;
	top: 50%;
	width: 546%;
	height: 1px;
	background: #e5e5e5;
}

#badan .perut .wall .garis_tengah > .tengah:before {
	right: 100%;
	margin-right: 10px;
}

#badan .perut .wall .garis_tengah > .tengah:after {
	left: 100%;
	margin-left: 10px;
}

#badan .wall .remember, #login .wall-e .remember {
	float: left;
}

#badan .wall .request, #login .wall-e .request {
	float: right;
}

#badan .url a:link, .url a:visited{
	color: #000;
}

#badan .url a:hover, .url .current{
	color: #f25f73;
}

#badan .garis_tengah, #login .wall-e .garis_tengah{
	display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 40px;
    padding-top: 40px;
}

#badan .garis_tengah > .tengah, #login .wall-e .garis_tengah > .tengah{
	position: relative;
    display: inline-block;
}

#badan .garis_tengah > .tengah:before,
#badan .garis_tengah > .tengah:after {
	content: " ";
	position: absolute;
	top: 50%;
	width: 1220%;
	height: 1px;
	background: #dee5ea;
}

#badan .garis_tengah > .tengah:before {
	right: 100%;
	margin-right: 90px;
}

#badan .garis_tengah > .tengah:after {
	left: 100%;
	margin-left: 90px;
}

#badan #tempe_kiri {
	width: 0; height: 0;
	border: 10px solid transparent;
	border-bottom: 11px solid #f25f73;
	position: relative;
	top: -21px;
}

#badan #tempe_kiri:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 30px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 11px solid #f25f73;
}

#badan #tempe_kanan {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom: 11px solid #f25f73;
	position: relative;
	top: -21px;
}

#badan #tempe_kanan:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 30px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 11px solid #f25f73;
}

#badan table tbody tr:nth-child(2n) {
    background-color: #fff;
}

#badan table tbody tr{
	border-bottom: 1px solid #e5e5e5;
}

.wall_login{
	background: #fff;
	padding: 10px;
	border: 1px solid #e5e5e5;
}

.alamat {
	background: #fff;
	padding: 25px 15px 10px 10px;
	border: 1px solid #e5e5e5;
}

.alamat .form{
	padding: 0 150px;
}

.alamat .form textarea{
	height: 150px;
}

.form-button{
		text-align: -webkit-center;
    text-align: center;
    margin-top: 15px;
}

#badan .total{
	margin-top: 15px !important;
}

#badan .total tbody tr.head-table{
	font-weight: bold;
}

/* REVIEW ORDER */
table a.item-delete:hover {
    color: #f25f73;
}
table a.item-delete {
    color: #000;
}

#badan .cart tbody{
	border: none;
}

#badan .cart tbody tr{
	border: none;
}

#badan .total button{
	background-color: #f25f73;
	border-radius: 50px;
	width: 65%;
}

#badan .total button:hover {
    background-color: #ec485e;
}

.perut .invoice{
	padding-top: 45px;
	font-weight: bold;
}

.perut .invoice a, .perut .invoice a:visited{
	color: #f25f73;
}

.perut .detail{
	background: #fff;
	padding: 20px 50px;
	border: 1px solid #e5e5e5;
}

/*iframe .video{width:560; height:315;}*/

 #badan .detail button{
 	background-color: #f25f73;
	border-radius: 50px;
	width: 150px;
 }

 #badan .detail button:hover{
 	background-color: #ec485e;
 }

#badan .detail .status table tbody{
	background-color: #f6f9fb;
}


#badan .detail .status table tbody tr:nth-child(2n){
	background-color: #f6f9fb;
}


/* START LARIS */
.left-laris {
  position: relative;
  height: 530px;
  padding-bottom: 0px;
  background-image: url("../img/terlaris-1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  display: block;
  margin-bottom: 30px;
	transition:all 0.3s ease;
}

.mid-laris-1 {
  position: relative;
  height: 250px;
  padding-bottom: 0px;
  background-image: url("../img/terlaris-2.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  display: block;
  margin-bottom:30px;
}

.mid-laris-2 {
  position: relative;
  height: 250px;
  padding-bottom: 0px;
  background-image: url("../img/terlaris-5.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  display: block;
  margin-bottom: 30px;
}

.mid-laris-3 {
  position: relative;
  height: 250px;
  padding-bottom: 0px;
  background-image: url("../img/terlaris-3.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  display: block;
  margin-bottom:30px;
}

.mid-laris-4 {
  position: relative;
  height: 250px;
  padding-bottom: 0px;
  background-image: url("../img/terlaris-4.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  display: block;
}

.text-muncul {
	position: relative;
	height: 530px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: 1px solid #fff;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	display: block;
	z-index:10;
	vertical-align:middle;
	position:relative;
	z-index:5;
	-webkit-transform: scale(0,1); /* 0,0- zoom, 0,1-flip*/
	-moz-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.text-muncul-1 {
  position: relative;
  height: 250px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: block;
	z-index:10;
	vertical-align:middle;
	position:relative;
	z-index:5;
	-webkit-transform: scale(0,0); /* 0,0- zoom, 0,1-flip*/
	-moz-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.text-muncul-2 {
  position: relative;
  height: 250px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: block;
	z-index:10;
	vertical-align:middle;
	position:relative;
	z-index:5;
	-webkit-transform: scale(0,0); /* 0,0- zoom, 0,1-flip*/
	-moz-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.text-muncul-3 {
  position: relative;
  height: 250px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: block;
	z-index:10;
	vertical-align:middle;
	position:relative;
	z-index:5;
	-webkit-transform: scale(0,0); /* 0,0- zoom, 0,1-flip*/
	-moz-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.text-muncul-4 {
  position: relative;
  height: 250px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: block;
	z-index:10;
	vertical-align:middle;
	position:relative;
	z-index:5;
	-webkit-transform: scale(0,0); /* 0,0- zoom, 0,1-flip*/
	-moz-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.left-laris:hover .text-muncul{
	display:block;
	-webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}

.mid-laris-1:hover .text-muncul-1{
	display: block;
	-webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}

.mid-laris-2:hover .text-muncul-2{
	display: block;
	-webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}

.mid-laris-3:hover .text-muncul-3{
	display: block;
	-webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}

.mid-laris-4:hover .text-muncul-4{
	display: block;
	-webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}

.texnya {
  height: 500px;
  margin: 15px;
  padding-left: 0px;
  border: 1px solid #fff;
}

.texnya-1 {
  height: 220px;
  margin: 15px;
  padding-left: 0px;
  border: 1px solid #fff;
}

.texnya-2 {
  height: 220px;
  margin: 15px;
  padding-left: 0px;
  border: 1px solid #fff;
}

.texnya-3 {
  height: 220px;
  margin: 15px;
  padding-left: 0px;
  border: 1px solid #fff;
}

.texnya-4 {
  height: 220px;
  margin: 15px;
  padding-left: 0px;
  border: 1px solid #fff;
}

.tex {
  padding-top: 200px;
  padding-bottom: 200px;
  vertical-align: middle;
}

.tex-1 {
  padding-top: 50px;
  padding-bottom: 50px;
  vertical-align: middle;
}

.tex-2 {
  padding-top: 50px;
  padding-bottom: 50px;
  vertical-align: middle;
}

.tex-3 {
  padding-top: 50px;
  padding-bottom: 50px;
  vertical-align: middle;
}

.tex-4 {
  padding-top: 50px;
  padding-bottom: 50px;
  vertical-align: middle;
}

/* END TERLARIS */
.tex .button, .tex-1 .button, .tex-2 .button, .tex-3 .button, .tex-4 .button{
	background-color: #f25f73;
	-webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
}

.tail{
	background: #fff;
	padding: 20px;
	border: 1px solid #e5e5e5;
}

.widgetshare {color: #000 !important;}
.widgetshare a{font:bold 12px/20px Tahoma !important; text-decoration: none !important; padding: 10px; color: #fff !important; transition: all 1s ease;}
.widgetshare a:hover {cursor:pointer; background:#A3A3A3 !important}
.fcbok { background: #3B5999; }
.twitt { background: #01BBF6; }
.gplus { background: #D54135; }
.digg { background: #5b88af; }
.lkdin { background: #005a87; }
.tchno { background: #008000; }
.ltsme { background: #fb8938; }

.det-img{
	position: relative;
	/*background-image: url("../img/detail.jpg");*/
	background-size: cover;
	text-align: center;
	display: block;
	margin-bottom: 30px;
	background-position: 50% 50%;
	overflow:hidden;
	height:607px;
	margin-bottom:30px;
}

.product-thumbnail {
    padding: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.product-thumbnail img{
		opacity: .5;
    height: 132px;
    /*padding-bottom: 7px;*/
    /*margin: 0px 0px 11px 0px;*/
    /*overflow: hidden;*/
}
#bx-pager.product-thumbnail a.active img {
    opacity: 1;
}

.kotak{
	border: 1px solid #fff;
	margin: 26px;
	height: 555px;
	width: 405px;
	position: absolute;
	z-index: 9;
}

.panah span{
	position: absolute;
	top: 50%;
	margin-top: -40px;
	height: 80px;
	width: 30px;
	cursor: pointer;
	z-index: 2000;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.panah .panah-kiri{
	background: #fff url(../img/ar-l-b.png) no-repeat 50% 50%;
	left: 5px;
}

.panah .panah-kanan{
	background: #fff url(../img/ar-r-b.png) no-repeat 50% 50%;
	right: 5px;
}

/*========== FOOTER ==========*/
#footer{
	background-color: #141414;
	color: #737373;
	font-size: 15px;
}


/*========== BETIS  ==========*/
.betis{
	padding-top: 50px;
}

#betis .kanan a:link,
#betis .kanan a:visited{
	color: #737373;
}

#betis .kanan a:hover{
	color: #f25f73;
}

#betis .kanan .judul{
	color: #fff;
}

#betis .kanan ul{
	list-style-type: none;
	margin-left: 0;
	line-height: 35px;
}

#betis .kiri img{
	height: 40px;
}

#betis .betis_kiri{
	text-align: justify;
    text-justify: inter-word;
}

#betis .betis_kiri a:visited,
#betis .betis_kiri a{
	color: #f25f73;
}

#betis .kiri .subscribe{
	padding-top: 10px;
}

#betis .kiri .langganan{
	background: transparent;
	border-color: #737373;
	padding-left: 24px;
	color: #fff;
}

#betis .kiri .tombol{
	background-color: #f25f73;
	border-color: #737373;
	border-left: none;
	height: 40px;
}

#betis .kiri .sosial{
	padding-top: 10px;
}

#betis .kiri .sosial a:visited,
#betis .kiri .sosial a{
	color: #000;
}

#betis .kiri .sosial a:hover{
	color: #f25f73;
}


/*========== KAKI   ==========*/
#kaki hr{
	border-color: #737373;
	margin-bottom: 0;
}

.segitiga {
	margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 10px solid #737373;
	text-align: center;
}

#kaki .telapak{
	padding-top: 10px;
	padding-bottom: 20px;
}

#kaki .telapak a,
#kaki .telapak a:visited{
	color: #f25f73;
}

#kaki .telapak span{
	float: right;
}

#kaki .telapak .kembali a{
	color: #000;
}

/* --------------------------------

Main components

-------------------------------- */

.cd-top {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 15px;
    bottom: 15px;
  }
}

/*end top*/



/*========== RESPONSIVE ==========*/
@media screen and (max-width: 202px) {
	#badan .perut .wall .judul_login{
		padding: 0;
	}

	#badan .alamat .form{
		padding: 0 10px;
	}

	.dropdown-pane {width: 100%;}

}

@media screen and (max-width: 215px) {

	.pencarian .kategori{
		display: none;
	}

	.rambut .akun{
		margin-bottom: 8px;
	}


	.akun ul li{
		display: inherit;
	}

	.menu li a:hover{
		background-color: gray !important;
		color: #fff !important;
	}

	.betis .kiri{
		padding-bottom: 30px;
	}

	.betis .kiri img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.betis .kanan .judul{
		text-align: center;
	}

	.kaki .telapak{
		text-align: center;
	}

	#kaki .telapak span{
		float: none;
	}

	#kaki .telapak{
		text-align: center;
	}

	#badan .perut .wall{
		padding: 10px;
		text-align: center;
		margin-bottom: 10px;
	}

	#badan .perut .wall .judul_login{
		padding-left: 20px;
		padding-right: 20px;
	}

	#badan .perut .wall .remember, #badan .perut .wall .request{
		float: none;
		padding-right: 10px;
		padding-left: 10px;
	}

	#badan .alamat .form{
		padding: 0 10px;
	}

	.jms-wrapper {min-width: 293px;}

}

@media screen and (max-width: 248px) {
	#badan .perut .wall .judul_login{
		padding-right: 30px;
		padding-left: 30px;
	}

	#badan .alamat .form{
		padding: 0 10px;
	}


}

@media screen and (max-width: 400px) {
	#betis .kanan ul{
		text-align: left;
	}

	#badan .perut .wall{
		padding: 10px;
		text-align: center;
		margin-bottom: 10px;
	}

	#badan .alamat .form{
		padding: 0 10px;
	}

	/*iframe .video{width: 100%;height: 240px;}*/

	.jms-wrapper {min-width: 293px;}

	.perut .detail {
	    padding: 20px 16px;
	}
}

@media screen and (max-width: 500px) {
	table tbody th, table tbody td {
	    display: block;
		padding: 0.4rem 1rem;
	}

	table thead th, table thead td, table tfoot th, table tfoot td {
	    text-align: center;
		text-align: -moz-center;
		display: block;
		padding: 0.4rem 1rem;
	}

	.betis .kiri .subscribe{
		display: none;
	}

	#badan .perut .wall{
		margin-bottom: 10px;
	}

	#badan .alamat .form{
		padding: 0 10px;
	}

	.jms-wrapper {min-width: 345px;}
	.step {width: 186px;}
}

@media screen and (max-width: 639px) {
	table tbody th, table tbody td {
	    display: block;
		padding: 0.4rem 1rem;
	}

	table thead th, table thead td, table tfoot th, table tfoot td {
	    text-align: center;
		text-align: -moz-center;
		display: block;
		padding: 0.4rem 1rem;
	}

	.betis .kiri img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.betis .kanan .judul{
		text-align: center;
	}

	.betis .kanan ul{
		text-align: center;
	}

	.kaki .telapak{
		text-align: center;
	}

	#kaki .telapak span{
		float: none;
	}

	#kaki .telapak{
		text-align: center;
	}

	#badan .perut .wall{
		margin-bottom: 10px;
	}

	#badan .alamat .form{
		padding: 0 10px;
	}

	.baru{
		width: 50%;
	}
	.jms-content1 p{
		font-size: 17px;
	}
	.jms-content1  span{
		font-size: 9px;
	}
}

@media (max-width: 767px){
	#bx-pager.product-thumbnail a.active img {
	    opacity: 1;
	}
	.product-thumbnail img {
		position: relative;
		z-index: 9;
		margin: 0 5px;
		opacity: .5;
		height: 50px;
	}
	.kotak{
		height: 239px;
    width: 134px;
	}
}


@media screen and (max-width: 883px) {
	#badan .perut .wall{
		padding-right: 20px;
		padding-left: 20px;
	}
	.jms-content1 p{
		font-size: 25px;
	}
	.jms-content1  span{
		font-size: 15px;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.dropdown-pane {width: 96%;left: 9px;}
	.dropdown-pane.content-big-menu{width: 96%}


		.pencarian {
			width: 305px;
			padding-right: 11px;
		}

	.akun ul{
		float: none;
		margin-left: 0;
	}

	.akun ul li:first-child{
		padding-left: 0;
	}

	#betis .kiri .sosial{
		text-align: center;
		padding-bottom: 20px;
	}

	.categories-list{
		height: auto;
		width: auto;
		background: none;
		position: relative;
		margin-left: 0px;
	}

	ul.categories-list .subcategories, ul.categories-list .subcategories .subcategory-scnd{
		left: 0px;
		position: relative;
	}

	.subcategories > ul, .subcategory-scnd > ul{
		height: auto;
		width: auto;
	}

	.category-banner-background{
		display: none;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {

	.pencarian {
		width: 43em;
		padding-right: 15px;
	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

	.akun ul{
		float: none;
		margin-left: 0;
	}

	.akun ul li:first-child{
		padding-left: 0;
	}


}

/* Large and up */
@media screen and (min-width: 64em) {
	.pencarian {
		width: 52em;
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	.pencarian {
		width: 42em;
		padding-right: 11px;
	}
}
