body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

nav ul li {
    float: none;
}

#nav-home {
    background-color: #f5f5f5 !important;
    height: 80px;
    line-height: 80px;
}

#nav-home .nav-wrapper {
    padding: 0 20px 0 30px;
}

#nav-home .brand-logo {
    font-size: 36px;
    font-weight: bold;
    color: #455a64;
}

#nav-home #nav-mobile,
#nav-home #nav-mobile > li,
#nav-home #nav-mobile > li > a {
    height: inherit !important;
}

#nav-home #nav-mobile > li {
    float: left;
}

#nav-home #nav-mobile a {
    font-size: 20px;
    color: #424242;
}

#nav-home #nav-mobile li:hover a {
    background-color: #37474f;
    color: #ffffff;
}

#nav-home .nav-wrapper #nav-mobile i {
    vertical-align: 0 !important;
    margin-right: 5px;
}

#nav-home .category {
    position: relative;
}

#nav-home .btn-category {
    margin: 10px 0 10px 40px;
    padding: 0 8px;
    display: block;
    height: 60px;
    line-height: 60px;
    color: #424242;
    font-size: 20px;
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
}

#nav-home .btn-category i {
    vertical-align: -6% !important;
    margin-left: 5px;
}

#nav-home .category ul {
    display: none;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    max-height: 1000px;
    z-index: 10;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 0 2px gray;
    -moz-box-shadow: 0 0 2px gray;
    box-shadow: 0 0 2px gray;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#nav-home .box-category {
    top:70px;
    left:40px;
}

#nav-home .box-category ul {
    position: absolute;
    top:0;
    left: 100%;
    height: 100% !important;
}

#nav-home .box-category li {
    clear: left;
    line-height: normal;
}

#nav-home .box-category li a {
    display: block;
    font-size: 12px;
    padding: 15px 0;
    color: #424242;
    text-align: center;
}

#nav-home .box-category li:hover > a {
    background-color: #f57c00;
    color: #ffffff;
}

#nav-home .category:hover .btn-category {
    color: #f57c00;
    border-color: #f57c00;
}

#nav-home .category:hover .box-category{
    display: block;
}

#nav-home .box-category li:hover > ul {
    display: block;
}

#main-home .slider {
    margin: 10px 0 20px 0;
}

.grouping {
    margin-bottom: 40px;
}

.grouping-text{
    margin-bottom: 20px;
    padding-bottom: 15px;
    color: #607d8b;
    text-align: center;
    border-bottom: 2px solid gray;
}

.cards {
    border: 1px solid #90a4ae;
    margin-bottom: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.cards:hover {
    border-color: #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.cards > a {
    display: block;
    padding: 4px;
    border-bottom: 1px solid #BDBDBD;
}

.cards img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 320px;
    height: 240px;
}

.cards .cards-info {
    padding: 5px 0;
    border-bottom: 1px solid #BDBDBD;
}

.cards-info .info-price,
.cards-info .info-name {
    color: #607d8b;
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
}

.cards-info .info-name {
    color: #424242 !important;
    font-weight: bold;

}

.cards .cards-option {
    padding: 5px 0;
}

.cards-option .btn {
    background-color: #0277bd;
    height: auto;
    line-height: inherit;
}

.cards-option .btn:hover {
    background-color: #ffffff;
    color: #0277bd;
}

.page-footer {
    background-color: #e65100 !important;
    color: #ffffff;
}

.footer-group-header {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}

.page-footer ul {
    margin-top: 0;
}

.page-footer ul li {
    list-style-type: none;
    padding: 5px 0;
}

.page-footer ul li a,
.page-footer ul li p {
    display: block;
    color: #ffffff;
    font-size: 16px;
    margin: 0;
}

.page-footer ul li a:hover {
    color: #0059bc;
    font-weight: bold;
}






@media only screen and (min-width: 601px) {
    nav#nav-home .nav-wrapper .box-category i {
        position: absolute;
        height: auto;
        line-height: normal;
        left: 90%;
    }

    .cards img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 993px) {
    main#main-home .container {
        width: 85% !important;
        max-width: 1200px;
    }
}