body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
}

.navbar-inverse .navbar-brand {
	font-size:20px;
}

.navbar-inverse .navbar-header i {
	color:#FFF !important;
}

.navbar {
	margin-bottom:0 !important;
}

#left-menu-collapse {
	display:none;
}

#account-menu-header {
	min-width:0 !important;
}

#content-wrapper {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	position:relative;
	overflow:hidden;
}

.left-wrapper {
	width:175px;
	height:100%;
	position:absolute;
	background-color:#3A3A3A;
	display:block;
}

.left-menu {
	list-style-type:none;
	margin:0;
	padding:0;
}

.left-menu li {
	display:list-item;
	border-bottom: 1px solid #666;
}

.left-menu li a {
	display:block;
	padding: 15px;
	font-size:16px;
	color:#FFF;
	text-decoration:none;
}

.left-menu li:hover {
	background-color:#EEE;
}

.left-menu li:hover a {
	color:#666;
}

.left-menu li.active {
	background-color:#2D89EF !important;
	border-bottom: 1px solid #2D89EF !important;
}

.left-menu li.active:hover {
	background-color:#2D89EF !important;
}

.left-menu li.active:hover a {
	color:#FFF;
}

.leftMenuText {
	margin-left:5px;
}

.left-large {
	display:block;
}

.left-large .leftMenuText {
	display:inline-block;
}

.left-medium {
	display:none;
}

.left-medium .leftMenuText {
	display:none;
}

.right-content {
	padding: 0 15px;
}

#content-loader {
	position: relative;
	top:150px;
	text-align: center;
}

#content-display {
	position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
}

.right-wrapper {
	margin:0 0 20px 175px;
	min-height: 600px;
	position:relative;
}

.header-text {
	font-size:20px;
	font-weight: bold;
	color:#5d5d5d;
}

.form-account, .form-settings {
	padding: 15px 20px !important;
}

.form-account .form-group,
.form-settings .form-group {
	margin-right: 0 !important;;
	margin-left: 0 !important;
}

@media (min-width:768px) {
	.navbar {
		border-radius: 0 !important;
	}
}

/* mobile */
@media (max-width:767px) {
	#left-menu-collapse {
		display:block;
	}
	
	.left-wrapper {
		display:none;
	}
	
	.right-wrapper {
		margin-left:0;
	}
}

/* tablet and desktop */
@media (min-width:992px) {
	.navbar-header .navbar-brand {
		margin-left:15px !important;
	}
}

/* tablet */
@media (min-width:768px) and (max-width:992px) {
	.left-wrapper {
		width:75px;
	}
	
	.left-menu li a {
		text-align:center;
	}
	
	.left-large {
		display:none;
	}
	
	.left-medium {
		display:block;
	}
	
	.right-wrapper {
		margin-left:75px;
	}

	.leftMenuText {
		margin-left:-5px;
	}
}