<div class="col-xs-12 col-sm-10 col-md-8">
    <div class="box-category">
        <div class="box-category-header">
            <p>Add Category</p>
        </div>
        <div class="box-category-content">
            <form method="POST" onsubmit="saveCategory(event)"> {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6">
                        <div class="form-group">
                            <label for="categoryName">Category Name</label>
                            <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Fill Category Name" oninvalid="checkEmpty(this)" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                            <label for="categoryDescription">Description</label>
                            <textarea id="categoryDescription" class="form-control" name="description" placeholder="Fill Description Category" rows="4" style="resize:none;"></textarea>
                        </div>
                        <div class="checkbox">
                            <label for="publish">
                                <input type="checkbox" id="publish" name="publish" checked> Publish
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>