<div class="col-xs-12 col-sm-10">
    <form name="productForm" method="POST" onsubmit="validateProduct(event)" enctype="multipart/form-data"> {% csrf_token %}
        <div class="box-product">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" onclick="addMoreCategory()"><i class="fa fa-plus fa-lg"></i></button>
                            <button type="button" id="btn-remove-category" class="btn btn-danger hide" onclick="removeMoreCategory()"><i class="fa fa-minus fa-lg"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select id="category" class="form-control slctCategory">
                                    <option value="0">-- Select Category --</option>
                                    {% for category in listCategory %}
                                    <option value="{{ category.id }}">[{{ category.parent.parent.name }}] [{{ category.parent.name }}] {{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="more-category">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="form-group">
                        <label for="ProductCode">Product Code</label>
                        <input type="text" id="product-code" class="form-control" name="ProductCode" placeholder="Input Product Code Here.." autocomplete="off" oninvalid="checkEmpty(this)" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="form-group">
                        <label for="ProductName">Product Name</label>
                        <input type="text" id="product-name" class="form-control" name="ProductName" placeholder="Input Product Name.." autocomplete="off" oninvalid="checkEmpty(this)" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="form-group">
                        <label for="Brand">Brand</label>
                        <input type="text" id="brand" class="form-control" name="Brand" placeholder="Input Brand Here.." autocomplete="off" oninvalid="checkEmpty(this)" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="form-group">
                        <label for="color">Color</label>
                        <input type="text" id="color" class="form-control" name="Color" placeholder="Item's Color.." autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div id="btn-stock" class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" onclick="addMoreStock()"><i class="fa fa-plus fa-lg"></i></button>
                            <button type="button" class="btn btn-danger hide" onclick="removeMoreStock()"><i class="fa fa-minus fa-lg"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <th>Stock</th>
                                        <th>Size</th>
                                    </thead>
                                    <tbody>
                                        <tr class="stock-section">
                                            <td>
                                                <div class="form-group">
                                                    <input type="number" class="form-control stock" min="0" placeholder="0" oninvalid="checkEmpty(this)" required />
                                                </div>
                                            </td>
                                            <td><input type="text" class="form-control size" placeholder="XS/S/M/L/XL" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="dateStock">Date</label>
                        <div id="date-stock" class="input-group date">
                            <input type="text" id="dateStock" class="form-control" placeholder="mm/dd/yyyy" readonly>
                            <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-sm-8 col-md-4">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" onclick="addDiscount()"><i class="fa fa-plus fa-lg"></i></button>
                            <button type="button" id="btn-hide-discount" class="btn btn-danger hide" onclick="hideDiscount()"><i class="fa fa-minus fa-lg"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="price">Price</label>
                                <div class="input-group">
                                    <span class="input-group-addon">Rp</span>
                                    <input type="text" id="price" class="form-control" placeholder="0.00" onkeyup="clearDiscount()" oninvalid="checkEmpty(this)" autocomplete="off" required>
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="price-box" class="row mar-btm10 hide">
                <div class="col-xs-8 col-sm-8 col-md-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="discount" class="col-sm-2 control-label">Discount</label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input type="text" id="discount" class="form-control" placeholder="0" min="0" max="100" onkeyup="countDiscount()" autocomplete="off">
                                            <span class="input-group-addon">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-8">
                            <div class="form-group">
                                <label for="newPrice">New Price</label>
                                <div class="input-group">
                                    <span class="input-group-addon">Rp</span>
                                    <input type="text" id="newPrice" class="form-control" placeholder="0.00" readonly>
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-8">
                            <div class="form-horizontal">
                                <div class="form-group form-expired-date">
                                    <label for="date-discount">Expired Discount</label>
                                    <div id="date-discount" class="input-group date">
                                        <input type="text" id="dateDiscount" class="form-control" placeholder="mm/dd/yyyy" readonly>
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-sm-8 col-md-4">
                    <div class="form-group">
                        <label for="UnitWeight">Weight</label>
                        <div class="input-group">
                            <input type="text" id="weight" class="form-control" placeholder="0.00" oninvalid="checkEmpty(this)" autocomplete="off" required />
                            <label class="radio-inline">
                                <input type="radio" name="weightUnit" value="Kg"> Kg
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="weightUnit" value="Gram" checked> Gram
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" class="form-control" rows="5" onload="initEditor()"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">Save <i class="fa fa-save fa-lg"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>