{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Dashboard {% endblock %}</title>

    <!-- Bootstrap style and Custom style -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link  type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/helper.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/admin/mainAdmin.css' %}" />
    {% block css %}

    {% endblock %}
</head>
<body>
    <header>
        <nav id="nav-admin" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                        <span class="fa fa-bars fa-lg"></span>
                    </button>
                    <a href="#" class="navbar-brand">Admin Panel</a>
                </div>

                <div id="nav-collapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{ request.user.username }} <i class="fa fa-caret-down fa-lg"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-gear fa-lg"></i> Setting</a></li>
                                <li><a href="{% url 'adminSignout' %}"><i class="fa fa-sign-out fa-lg"></i> Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="left-wrapper hidden-xs">
            {% include 'leftmenu.html' %}
        </div>

        {% block rightContent %}
        <div class="right-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <div class="well">
                        <h4 class="header-selection">Dashboard</h4>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </main>

    <script type="text/javascript" src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/admin/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/admin/jquery.iframe-transport.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/admin/jquery.fileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/admin/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/admin/helper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    {% block script %}
    <script type="text/javascript">
    $(document).ready(function() {
        setLeftActive('1');
    });
    </script>
    {% endblock %}
</body>
</html>