{% extends 'admin.html' %}
{% block title %} Category {% endblock %}

{% block rightContent %}
<div class="right-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <h4 class="header-selection">Category</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group" role="group" style="margin:0 0 15px 15px;">
                <button type="button" id="btn-addCategory" class="btn btn-primary" onclick="rdrAddCategory('0', 1)" disabled>Add Category</button>
                <button type="button" id="btn-listCategory" class="btn btn-primary" onclick="rdrListCategory('listCategory', 1)" disabled>List Category</button>
            </div>
        </div>
    </div>

    <div id="add-category" class="row"></div>
    <div id="update-category" class="row"></div>
    <div id="list-category" class="row"></div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    setLeftActive('3');
    rdrAddCategory('0', '1');
});
</script>
{% endblock %}