<div class="col-xs-12 col-sm-10 col-md-8">
    <div class="box-category">
        <div class="box-category-header">
            <p>Add Category</p>
        </div>
        <div class="box-category-content">
            <form method="POST" onsubmit="updateCategory(event)"> {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6">
                        <div class="form-group">
                            <label for="categoryNameUpdate">Category Name</label>
                            <input type="text" class="form-control" id="categoryNameUpdate" name="categoryNameUpdate" value="{{ categoryName }}"  placeholder="Fill Category Name" oninvalid="checkEmpty(this)" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                            <label for="categoryDescriptionUpdate">Description</label>
                            <textarea id="categoryDescriptionUpdate" class="form-control" name="descriptionUpdate" value="{{ description }}" placeholder="Fill Description Category" rows="4" style="resize:none;"></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="publishUpdate" {% if published %} checked {% endif %}> Publish
                            </label>
                        </div>
                        <input type="hidden" name="updateID" value="{{ ID }}" />
                        <input type="hidden" name="level" value="{{ levelCategory }}" />
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>