{% load  staticfiles %}
<div class="col-xs-12 col-sm-10">
    <div class="box-product">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8">
                <form name="editProduct" method="POST" onsubmit="updateProduct(event, '{{ product.id }}')"> {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="boldText">Category</p>
                            <div class="col-xs-12">
                                <table id="tblCatProduct" class="table">
                                    <thead></thead>
                                    <tbody>
                                        <button type="button" class="btn btn-primary btn-more-category" onclick="addCategoryChoices()">More Category</button>
                                        {% for key, value in product.category.items %}
                                            {% if forloop.counter0 == 1 %}
                                                {% for category in value %}
                                                <tr>
                                                    <td>[{{ category.grandParent }}] [{{ category.parent }}] {{ category.categoryName }}</td>
                                                    <td><button class="btn btn-danger" onclick="removeCategoryProduct(event, '{{ category.id }}', '{{ product.id }}')"><i class="fa fa-trash"></i></button></td>
                                                    <input type="hidden" class="slctCategory" name="listID" value="{{ category.id }}"/>
                                                </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="row-category" class="row hidden mar-btm10" style="border-bottom: 1px solid gray;">
                        <div id="optionMoreCat" class="col-xs-12 col-sm-6 visible-xs">
                            <button type="button" class="btn btn-success btn-sm pull-right mar-left10" onclick="saveMoreCat('{{ product.id }}')"><i class="fa fa-save fa-lg"></i></button>
                            <button type="button" class="btn btn-danger btn-sm pull-right mar-left10" onclick="removeMoreCat()"><i class="fa fa-minus fa-lg"></i></button>
                            <button type="button" class="btn btn-primary btn-sm pull-right mar-left10" onclick="showMoreCat()"><i class="fa fa-plus fa-lg"></i></button>
                        </div>
                        <div id="more-category-box" class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="category">More Category</label>
                                <select id="category" class="form-control slctMoreCategory">
                                    <option value="0">-- Select Category --</option>
                                    {% for category in listCategory %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="optionMoreCat" class="col-xs-12 col-sm-6 hidden-xs">
                            <button type="button" class="btn btn-primary btn-sm" onclick="showMoreCat()"><i class="fa fa-plus fa-lg"></i></button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeMoreCat(this)"><i class="fa fa-minus fa-lg"></i></button>
                            <button type="button" class="btn btn-success btn-sm" onclick="saveMoreCat('{{ product.id }}')"><i class="fa fa-save fa-lg"></i></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="product-code">Product Code</label>
                                <input type="text" class="form-control" id="product-code" value="{{ product.product_code }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="product-name">Product Name</label>
                                <input type="text" class="form-control" id="product-name" value="{{ product.product_name }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="brand">Brand</label>
                                <input type="text" class="form-control" id="brand" value="{{ product.brand }}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="color">Color</label>
                                <input type="text" class="form-control" id="color" value="{{ product.color }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary btn-more-stock pull-right" onclick="addStock()"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="col-xs-12">
                            <table id="tableStock" class="table table-bordered">
                                <thead>
                                    <th>Stock</th>
                                    <th>Size</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    {% for stocks in product.stock %}
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control stock" value="{{ stocks.stock }}" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control size" value="{{ stocks.size }}" />
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger center-block" onclick="removeStock(this)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="dateStock">Date</label>
                                <div id="date-stock" class="input-group date">
                                    <input type="text" id="dateStock" class="form-control" value="{{ product.last_update|date:"SHORT_DATE_FORMAT" }}" readonly>
                                    <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="text" id="price" class="form-control" value="{{ product.price }}" onkeyup="clearDiscount()" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="discount">Discount</label>
                                <input type="text" id="discount" class="form-control" value="{{ product.discount }}" onkeyup="countDiscount()" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="newPrice">New Price</label>
                                <input type="text" id="newPrice" class="form-control" value="{{ product.new_price }}" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-expired-date">
                                <label for="dateDiscount">Expired Discount</label>
                                <div id="date-discount" class="input-group date">
                                    <input type="text" id="dateDiscount" class="form-control" placeholder="mm/dd/yyyy" readonly>
                                    <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="weight">Weight</label>
                                <input type="text" id="weight" class="form-control" value="{{ product.weight }}" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="radio-inline">
                                <input type="radio" name="weightUnit" id="inlineRadio1" value="Kg" {% if product.weight_unit == 'Kg' %} checked {% endif %}> Kg
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="weightUnit" id="inlineRadio2" value="Gram"{% if product.weight_unit == 'Gram' %} checked {% endif %}> Gram
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea id="description" class="form-control" rows="5">{{ product.description|safe }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div {% if product.images|length == 0 %} class="row hidden" {% else %} class="row" {% endif %}>
                        <div class="col-xs-12">
                            <div class="listImageReview">
                                <div class="listImage">
                                    {% for image in product.images %}
                                    <div class="thumbnailReview">
                                        <img src="{% static 'images/' %}{{ image }}" />
                                        <div class="thumbnailCaption">
                                            <p>
                                                <button type="button" class="btn btn-danger" onclick="removeImage('{{ product.id }}', '{{ image }}')">Delete <i class="fa fa-trash"></i></button>
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="fileUpload">Add Images</label>
                                <div class="fileUpload btn btn-primary">
                                    <span>Select Files <i class="fa fa-file-image-o"></i></span>
                                    <input type="file" id="fileUpload" class="upload" name="myFiles[]" multiple />
                                    <input type="hidden" id="idProduct" name="idProduct" value="{{ product.id }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="listImageReview">
                                <div id="listImage" class="listImage">

                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Update <i class="fa fa-save fa-lg"></i></button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>