{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="{{ site }}" rel="stylesheet" />
</head>
<body>
<div class="well">
    Welcome
</div>
<a href="{% url 'admin' %}" class="btn btn-primary" target="_blank">Click Me</a>

<script type="text/javascript" src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/admin/../../Static/js/bootstrap.min.js' %}"></script>
</body>
</html>