<ul class="leftmenu">
    <li id="admin-leftmenu"><a href="{% url 'admin' %}">Dashboard</a></li>
    <li id="supplier-leftmenu"><a href="{% url 'adminSupplier' %}">Supplier</a></li>
    <li id="category-leftmenu"><a href="{% url 'adminCategory' %}">Category</a></li>
    <!--<li id="product-leftmenu"><a href="{% url 'adminProduct' %}">Product</a></li> -->
    <li id="shipping-leftmenu"><a href="{% url 'adminShipping' %}">Shipping</a></li>
    <li id="email-leftmenu"><a href="{% url 'adminEmail' %}">Email</a></li>
</ul>