<div class="col-xs-12 col-sm-10 col-md-8">
    <div class="box-category"> {% csrf_token %}
        <div class="box-category-header">
            <p>List Kategori</p>
        </div>
        <div class="box-category-content">
            <table class="table table-striped table-hover no-mar-btm">
                <thead>
                    <th>No</th>
                    <th>Category Name</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% if listCategory|length == 0 %}
                    <tr>
                        <td colspan="3"><h4 class="empty-category">There's no category</h4></td>
                    </tr>
                    {% else %}
                    {% for category in listCategory %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% if category.level_category < 3 %}
                        <td><a onclick="rdrListCategory('listSubCategory', {{ category.level_category }}, '{{ category.id }}')">{{ category.name }}</a></td>
                        {% else %}
                        <td><span>{{ category.name }}</span></td>
                        {% endif %}
                        <td>
                            <div class="btn-group" role="group">
                                {% if category.level_category < 3 %}
                                <button type="button" class="btn btn-default" onclick="rdrAddCategory('1', {{ category.level_category }}, '{{ category.id }}')"><i class="fa fa-plus-square fa-lg"></i></button>
                                {% endif %}
                                <button type="button" class="btn btn-default" onclick="rdrEditCategory('{{ category.id }}', {{ category.level_category }})"><i class="fa fa-edit fa-lg"></i></button>
                                <button type="button" class="btn btn-default" onclick="removeCategory('{{ category.id }}', {{ category.level_category }}, '{{ category.name }}')"><i class="fa fa-trash fa-lg"></i></button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>