{% load staticfiles %}
{% if listProduct|length > 0 %}
<div class="col-xs-12 col-sm-10">
    <div class="box-product"> {% csrf_token %}
        {% for product in listProduct %}
        <div class="row row-product">
            <div class="col-xs-12">
                <div id="list-product-wrapper">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                <span id="productName">{{ product.product_name }}</span>
                                <span id="productCode">({{ product.product_code }})</span>
                                <div class="button-group-listProduct">
                                    <button type="button" class="btn btn-primary pull-right" onclick="rdrEditProduct('{{ product.id }}')"><i class="fa fa-edit fa-lg"></i></button>
                                    <button type="button" class="btn btn-danger pull-right mar-right10" onclick="removeProduct('{{ product.id }}', '{{ product.product_name }}')"><i class="fa fa-trash fa-lg"></i></button>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="leftBox-info">
                                <table class="tableListProduct">
                                    <thead></thead>
                                    <tbody>
                                        <tr>
                                            <td class="boldText"><p>Category </p></td>
                                            <td>
                                                {% for key, value in product.category.items %}
                                                    {% if key == "listCategory" %}
                                                        {% for category in value %}
                                                            <p>: [{{ category.grandParent }}] [{{ category.parent }}] {{ category.categoryName }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="boldText"><p>Brand </p></td>
                                            <td><p>: {{ product.brand }}</p></td>
                                        </tr>
                                        <tr>
                                            <td class="boldText"><p>Color </p></td>
                                            <td><p>: {{ product.color }}</p></td>
                                        </tr>
                                        <tr>
                                            <td class="boldText"><p>Last Update </p></td>
                                            <td><p>: {{ product.last_update|date:"SHORT_DATE_FORMAT" }}</p></td>
                                        </tr>
                                        <tr>
                                            <td class="boldText"><p>Price </p></td>
                                            <td><p>: {{ product.price }}</p></td>
                                        </tr>
                                        <tr>
                                            <td class="boldText"><p>Discount </p></td>
                                            <td>
                                                {% if product.discount != 0 %}
                                                <p>: {{ product.discount }} %</p>
                                                {% else %}
                                                <p>: - </p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="boldText"><p>New Price</p></td>
                                            <td>
                                                {% if product.new_price != 0 %}
                                                <p>: {{ product.new_price }}</p>
                                                {% else %}
                                                <p>: - </p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="boldText"><p>Expired Discount </p></td>
                                            <td>
                                                {% if product.expired_discount %}
                                                <p>: {{ product.expired_discount|date:"SHORT_DATE_FORMAT" }}</p>
                                                {% else %}
                                                <p>: - </p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="boldText"><p>Weight </p></td>
                                            <td><p>: {{ product.weight }} {{ product.weight_unit }}</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <p class="boldText centerText">Stock</p>
                            <div class="rightBox-info">
                                <table class="tableListStock centerText">
                                    <thead>
                                        <tr>
                                            <td><p>Stock</p></td>
                                            <td><p>Size</p></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for stocks in product.stock %}
                                        <tr>
                                            <td>{{ stocks.stock }}</td>
                                            <td>{{ stocks.size }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="boldText">Description :</p>
                        </div>
                        <div class="col-xs-12">
                            <div class="row-description">
                                <div class="description-content">
                                    {{ product.description|safe|escape }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="listImageReview">
                                <div class="listImage">
                                    {% for images in product.images %}
                                    <div {% if images == product.main_image %} class="thumbnailReview thumbnailReview-active" {% else %} class="thumbnailReview" {% endif %}>
                                        <img src="{% static 'images/' %}{{ images }}" />
                                        <div class="thumbnailCaption">
                                            {% if images != product.main_image %}
                                            <p><button type="button" class="btn btn-primary btn-xs" onclick="setMainImage('{{ product.id }}', '{{ images }}')">Set as main <i class="fa fa-check"></i></button></p>
                                            {% else %}
                                            <p class="main-picture">Main Picture</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="row"> <!-- row page navigation -->
            <div class="col-xs-12">
                <nav class="centerText">
                    <ul class="pagination pagination-lg">
                        {% if isFirst %}
                        <li class="disabled"><a aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span></a></li>
                        {% else %}
                        <li><a href="javascript:rdrListProduct(1)" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span></a></li>
                        {% endif %}
                        {% if hasPrev %}
                        <li><a href="javascript:rdrListProduct({{ prevPage }})" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
                        {% else %}
                        <li class="disabled"><a aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
                        {% endif %}
                        <li class="active"><a>{{ currentPage }} <span class="sr-only">(current)</span></a></li>
                        {% if hasNext %}
                        <li><a href="javascript:rdrListProduct({{ nextPage }})" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
                        {% else %}
                        <li class="disabled"><a aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
                        {% endif %}
                        {% if isLast %}
                        <li class="disabled"><a aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span></a></li>
                        {% else %}
                        <li><a href="javascript:rdrListProduct({{ lastPage }})" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="col-xs-12 col-sm-10">
    <div class="box-product">
        <h4 class="empty-product centerText">There's no product</h4>
    </div>
</div>
{% endif %}