{% extends 'admin.html' %}
{% block title %} Product {% endblock %}

{% block rightContent %}
<div class="right-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <h4 class="header-selection">Product</h4>
            </div>
        </div>
    </div>

    <div class="row btn-group-product">
        <div class="col-xs-12">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" id="btn-addProduct" class="btn btn-primary" onclick="rdrAddProduct()" disabled>Add Product</button>
              <button type="button" id="btn-listProduct" class="btn btn-primary" onclick="rdrListProduct(1)" disabled>List Product</button>
            </div>
        </div>
    </div>
    <div id="add-product" class="row"></div>
    <div id="list-product" class="row"></div>
    <div id="edit-product" class="row"></div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        setLeftActive('3');
        rdrAddProduct();
    });
</script>
{% endblock %}