{% extends 'admin.html' %}
{% block title %} Shipping {% endblock %}

{% block rightContent %}
<div class="right-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <h4 class="header-selection">Shipping</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="shippingContWrapper">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#province" aria-controls="province" role="tab" data-toggle="tab">Province</a></li>
                    <li role="presentation"><a href="#city" aria-controls="city" role="tab" data-toggle="tab">City</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="province">
                        <div class="province-box">
                            <table class="table">
                                <thead>
                                    <th>No</th>
                                    <th>Province</th>
                                </thead>
                                <tbody>
                                {% for prov in listProvince %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ prov.province }}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="city">
                        <div class="city-box">
                            <table class="table">
                                <thead>
                                    <th>No</th>
                                    <th>City</th>
                                </thead>
                                <tbody>
                                {% for c in listCity %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ c.city_name }}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function () {
    setLeftActive('4');
});
</script>
{% endblock %}