{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignIn</title>

    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'css/signin.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <div class="box-signin">
                    <div class="row header">
                        <div class="col-xs-12">
                            <div class="well well-sm">
                                <h3>SignIn</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row content">
                        <div class="col-xs-12">
                            <form id="form-signin" method="POST" action="{% url 'adminSignin' %}" target="signinFrame"> {% csrf_token %}
                                {{ form.non_field_errors }}
                                <div class="form-group">
                                    {{ form.username.errors }}
                                    <label class="control-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    {{ form.password.errors }}
                                    <label class="control-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                                    {{ form.password }}
                                </div>
                                <button type="submit" class="btn btn-success pull-right" style="margin-left: 10px;">Sign In</button>
                            </form>
                        </div>
                        <div class="col-xs-12">
                            <div id="signin-alert" class="alert alert-danger hidden" role="alert">
                                <strong>Nama akun / kata sandi salah !</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <iframe name="signinFrame" src="" style="display:none;"></iframe>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/admin/helper.js' %}"></script>
</body>
</html>