{% extends 'admin.html' %}
{% block title %} Supplier {% endblock %}

{% block rightContent %}
<div class="right-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <h4 class="header-selection">Supplier</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="supContWrapper">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#add" aria-controls="add" role="tab" data-toggle="tab">Add Supplier</a></li>
                    <li role="presentation"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">List Supplier</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="add">
                        <div class="add-sup-box">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-md-6">
                                    <form method="POST" action="{% url 'adminSupplier' %}" target="adminSupFrame"> {% csrf_token %}
                                        {{ form.non_field_errors }}
                                        <div class="form-group">
                                            {{ form.first_name.errors }}
                                            <label class="control-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                                            {{ form.first_name }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.last_name.errors }}
                                            <label class="control-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                                            {{ form.last_name }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.email.errors }}
                                            <label class="control-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                            {{ form.email }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.password.errors }}
                                            <label class="control-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                                            {{ form.password }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.repass.errors }}
                                            <label class="control-label" for="{{ form.repass.id_for_label }}">{{ form.repass.label }}</label>
                                            {{ form.repass }}
                                        </div>
                                        <button type="submit" class="btn btn-success" name="add-supplier" onclick="return validateAddSup();">Save <i class="fa fa-save fa-lg"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="list">
                        <div class="list-sup-box">
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-md-6">
                                {% if listSup|length != 0 %}
                                    <form method="POST" id="formDeleteSup" action="{% url 'adminSupplier' %}" target="adminSupFrame"> {% csrf_token %}
                                        <table class="table">
                                            <thead>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Action</th>
                                            </thead>
                                            <tbody>
                                                {% for sup in listSup %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ sup.sup_email }}</td>
                                                    <td>
                                                        <button type="submit" class="btn btn-danger" name="del-supplier" onclick="return deleteSupCnfrm('{{ sup.name }}')"><i class="fa fa-trash fa-lg"></i></button>
                                                        <input type="hidden" name="sup_email" value="{{ sup.account.email }}" />
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </form>
                                {% else %}
                                    <div>
                                        <h3>There's no supplier</h3>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<iframe name="adminSupFrame" src="" style="display: none;"></iframe>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    setLeftActive('2');
});
</script>
{% endblock %}