{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Index{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Materialize and Custom Style -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/../Static/font-awesome/font-awesome.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/helper.css' %}" />
    {% block style %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/user.css' %}"/>
    {% endblock %}
</head>
<body>
    <header>
        <nav id="nav-home">
            <div class="nav-wrapper">
                <div class="category">
                    <a href="#" class="btn-category left hide-on-med-and-down">Semua Kategori <i class="fa fa-caret-down fa-lg"></i></a>
                    <ul class="box-category hide-on-med-and-down">
                        {% for category in listCategory %}
                        {% if category.subcategory %}
                        <li>
                            <a href="#">{{ category.name }} <i class="fa fa-chevron-right fa-lg"></i></a>
                            <ul>
                                {% for child in category.subcategory %}
                                {% if child.subcategory %}
                                <li>
                                    <a href="#">{{ child.name }} <i class="fa fa-chevron-right fa-lg"></i></a>
                                    <ul>
                                        {% for children in child.subcategory %}
                                        <li><a href="#">{{ children.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% else %}
                                <li><a href="#">{{ child.name }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="#">{{ category.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <a href="#" class="brand-logo center">Lokalo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#"><i class="fa fa-shopping-cart fa-lg"></i>Cart</a></li>
                    <li><a href="#">Registrasi</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main id="main-home">
        <div class="container">
            <!-- SLIDER -->
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="{% static 'images/img-1.png' %}"> <!-- random image -->
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'images/img-2.png' %}"> <!-- random image -->
                        <div class="caption left-align">
                            <h3>Left Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'images/img-1.png' %}"> <!-- random image -->
                        <div class="caption right-align">
                            <h3>Right Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'images/img-2.png' %}"> <!-- random image -->
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- TOP PRODUCT GROUP-->
            <div class="row grouping">
                <div class="col s12">
                    <!-- TOP PRODUCT TEXT -->
                    <div class="row">
                        <div class="col s12">
                            <h4 class="grouping-text">Top Produk</h4>
                        </div>
                    </div>

                    <!-- TOP PRODUCT ITEMS -->
                    <div class="row">
                        {% for i in list %}
                        <div class="col s12 m6 l3">
                            <div class="cards hoverable">
                                <a href="#">
                                    <img src="{% static 'images/coba.png' %}">
                                </a>
                                <div class="cards-info">
                                    <h6 class="info-name">Nama Produk</h6>
                                    <h6 class="info-price">Rp 200.000</h6>
                                </div>
                                <div class="cards-option">
                                    <div class="button-group">
                                        <a class="waves-effect waves-light btn"><i class="fa fa-cart-plus fa-lg"></i></a>
                                        <a class="waves-effect waves-light btn"><i class="fa fa-search-plus fa-lg"></i></a>
                                        <a class="waves-effect waves-light btn"><i class="fa fa-shopping-bag fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- BEST SELLER GROUP -->
            <div class="row grouping">
                <div class="col s12">
                    <!-- BEST SELLER TEXT -->
                    <div class="row">
                        <div class="col s12">
                            <h4 class="grouping-text">Best Seller</h4>
                        </div>
                    </div>

                    <!-- BEST SELLER ITEMS -->
                    <div class="row">
                        {% for i in list %}
                        <div class="col s12 m6 l3">
                            <div class="cards hoverable">
                                <a href="#">
                                    <img src="{% static 'images/coba.png' %}">
                                </a>
                                <div class="cards-info">
                                    <h6 class="info-name">Nama Produk</h6>
                                    <h6 class="info-price">Rp 200.000</h6>
                                </div>
                                <div class="cards-option">
                                    <div class="button-group">
                                        <a class="waves-effect waves-light btn"><i class="fa fa-cart-plus fa-lg"></i></a>
                                        <a class="waves-effect waves-light btn"><i class="fa fa-search-plus fa-lg"></i></a>
                                        <a class="waves-effect waves-light btn"><i class="fa fa-shopping-bag fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row no-mar-btm">
                <div class="col s12 m6 l3">
                    <div class="row no-mar-btm">
                        <div class="col s12">
                            <h5 class="footer-group-header">About</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Testimonial</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="row no-mar-btm">
                        <div class="col s12">
                            <h5 class="footer-group-header">Account</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">My Whislist</a></li>
                                <li><a href="#">Forget Password</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="row no-mar-btm">
                        <div class="col s12">
                            <h5 class="footer-group-header">Find Us</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-official fa-lg"></i> Facebook</a></li>
                                <li><a href="#"><i class="fa fa-instagram fa-lg"></i> Instagram</a></li>
                                <li><a href="#"><i class="fa fa-twitter-square fa-lg"> Twitter</i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="row no-mar-btm">
                        <div class="col s12">
                            <h5 class="footer-group-header">Contact</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul>
                                <li><p><i class="fa fa-phone-square fa-lg"></i> +62 878-9507-8757</p></li>
                                <li><p><i class="fa fa-user fa-lg"></i> admin@lokalo-id.com</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    {% block script %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.slider').slider({
            'interval': 3000
        });
    });
    </script>
    {% endblock %}
</body>
</html>