.no-mar {
    margin: 0 !important;
}
.no-mar-left {
    margin-left: 0 !important;
}
.no-mar-right {
    margin-right: 0 !important;
}
.no-mar-top {
    margin-top: 0 !important;
}
.no-mar-btm {
    margin-bottom: 0 !important;
}
.mar-left10 {
    margin-left: 10px !important;
}
.mar-right10 {
    margin-right: 10px !important;
}
.mar-top10 {
    margin-top: 10px !important;
}
.mar-btm10 {
    margin-bottom: 10px !important;
}
.mar-left20 {
    margin-left: 20px !important;
}
.mar-right20 {
    margin-right: 20px !important;
}
.mar-top20 {
    margin-top: 20px !important;
}
.mar-btm20 {
    margin-bottom: 20px !important;
}
.mar-left-right {
    margin: 0 10px !important;
}
.mar-top-btm {
    margin: 10px 0 !important;
}
.no-pad {
    padding: 0 !important;
}

.err-text {
    padding-left: 5px;
    color: red;
}

.form-expired-date {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 10px 10px 0;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.supContWrapper, .shippingContWrapper {
    margin-left:15px;
    padding: 10px 0 0 15px;
    background-color: #FFF;
}

form[name=editProduct] .table-responsive {
    overflow-x:visible;
}

.boldText {
    font-weight: bold;
}

.centerText {
    text-align: center;
}

.rightContRf {
    padding-top: 40px;
    text-align: center;
}