body {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 40px;
}

.box-signin, .box-signup {
    margin-bottom: 40px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.header h3 {
    text-align: center;
    font-weight: bold;
}

.content {
    padding: 0 15px 20px 15px;
}

.forget-password {
    display: block;
    padding: 0 5px;
    text-decoration: none;
    font-weight: bold;
    color: #337ab7;
}

.forget-password:hover {
    text-decoration: none;
    color: gray;
}

#signin-alert {
    margin-top:10px;
    margin-bottom: 0;
}