{% extends 'main.html' %}
{% load staticfiles %}

{% block title %} Lokalku {% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="well well-sm">
            <p class="header-text">Lokalku</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation"><a href="#account" aria-controls="akun" role="tab" data-toggle="tab">Akun</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Pengaturan</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="account">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <form method="POST" class="form-horizontal form-account" action="{% url 'lokalku' %}" target="lokalkuFrame"> {% csrf_token %}
                            <div class="form-group">
                                <label for="first_name">Nama Depan</label>
                                <input type="text" id="first_name" class="form-control profile" name="first_name" value="{{ userInfo.account.first_name }}" required readonly>
                            </div>
                            <div class="form-group">
                                <label for="last_name">Nama Belakang</label>
                                <input type="text" id="last_name" class="form-control profile" name="last_name" value="{{ userInfo.account.last_name }}" required readonly>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" id="email" class="form-control" name="email" value="{{ userInfo.account.email }}" required readonly>
                            </div>
                            <div class="form-group">
                                <label for="address">Alamat</label>
                                <textarea id="address" class="form-control profile" name="address" rows="3" required readonly style="resize: none;">{{ userInfo.address }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="mobile">Telepon</label>
                                <input type="text" id="mobile" class="form-control profile" name="mobile" value="{{ userInfo.mobile }}" required readonly>
                            </div>
                            <button type="button" id="btn-edit-profile" class="btn btn-primary" onclick="updateProfile()">Ubah <i class="fa fa-edit fa-lg"></i></button>
                            <button type="button" id="btn-cancel-profile" class="btn btn-danger hidden" onclick="updateProfile()">Batal <i class="fa fa-close fa-lg"></i></button>
                            <button type="submit" id="btn-save-profile" class="btn btn-success hidden" name="saveProfile" value="save">Simpan <i class="fa fa-save fa-lg"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="settings">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <form method="POST" class="form-horizontal form-settings" action="{% url 'lokalku' %}" onsubmit="return checkPass()" target="lokalkuFrame"> {% csrf_token %}
                            <div class="form-group">
                                <label for="old-password">Kata Sandi Lama</label>
                                <input type="password" id="old-password" class="form-control password" name="oldPass" placeholder="Kata Sandi Sekarang" required readonly>
                            </div>
                            <div class="form-group">
                                <label for="new-password">Kata Sandi Baru</label>
                                <input type="password" id="new-password" class="form-control password" name="newPass" placeholder="Kata Sandi Baru" required readonly>
                            </div>
                            <div class="form-group">
                                <label for="re-password">Ulangi Kata Sandi Baru</label>
                                <input type="password" id="re-password" class="form-control password" name="rePass" placeholder="Ulangi Kata Sandi" required readonly>
                            </div>
                            <button id="btnEditPass" type="button" class="btn btn-primary" onclick="updatePassword()">Ubah <i class="fa fa-edit fa-lg"></i></button>
                            <button id="btnCancalPass" type="button" class="btn btn-danger hidden" onclick="updatePassword()">Batal <i class="fa fa-close fa-lg"></i></button>
                            <button id="btnSavePass" type="submit" class="btn btn-success hidden" name="savePassword" value="save">Simpan <i class="fa fa-save fa-lg"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<iframe name="lokalkuFrame" src="" style="display: none;"></iframe>
{% endblock %}

{% block script %}

{% endblock %}

{% block specialScript %}
<script type="text/javascript">
    $(document).ready(function () {
        setLeftSelection(1, 'lokalku');
    });
</script>
{% endblock %}