{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}  {% endblock %}</title>

	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />
	<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/supplier/supplier.css' %}" rel="stylesheet" />
</head>

<body>
    {% block content %}
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Navbar Header -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse-menu" aria-expanded="false" aria-controls="head">
				<!-- Button toggle for mobile -->
					<i class="fa fa-navicon fa-lg"></i>
				</button>
				<!-- End Button toggle for mobile -->
				<a class="navbar-brand" href="#">Lokalo</a>
			</div>
			<!-- End Navbar Header -->
			
			<!-- Collapse Menu -->
			<div class="collapse navbar-collapse" id="header-collapse-menu">
				<ul id="left-menu-collapse" class="nav navbar-nav navbar-right">
					<li><a href="{% url 'lokalku' %}" target="rFrameContent"><i class="fa fa-home fa-lg"></i> <span class="leftMenuText">LokalKu</span></a></li>
					<li><a href="{% url 'product' %}" target="rFrameContent"><i class="fa fa-shopping-bag fa-lg"></i> <span class="leftMenuText">Produk</span></a></li>
					<li><a href="#"><i class="fa fa-envelope-o fa-lg"></i> <span class="leftMenuText">Order</span></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }} <span class="caret"></span></a>
						<ul id="account-menu-header" class="dropdown-menu">
							<li><a href="{% url 'signout' %}"><i class="fa fa-sign-out"></i>  Keluar</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- End Collapse Menu -->
		</div>
	</nav>
	
	<div id="content-wrapper" class="container-fluid">
		<div id="content">
			<div class="left-wrapper">
				<ul id="left-menu" class="left-menu">
					<li id="lokalku"><a href="{% url 'lokalku' %}" target="rFrameContent"><i class="fa fa-home fa-lg"></i> <span class="leftMenuText">LokalKu</span></a></li>
					<li id="product"><a href="{% url 'product' %}" target="rFrameContent"><i class="fa fa-shopping-bag fa-lg"></i> <span class="leftMenuText">Produk</span></a></li>
					<li id="orderan"><a href="#"><i class="fa fa-envelope-o fa-lg"></i> <span class="leftMenuText">Orderan</span></a></li>
				</ul>
			</div>
			<div class="right-wrapper">
				<div class="right-content">
					<div class="row">
						<div id="content-loader" class="col-xs-12 hidden">
							<div class="right-loader-container">
								<span><i class="fa fa-refresh fa-spin fa-4x fa-fw"></i></span>
							</div>
						</div>
						<div id="content-display" class="col-xs-12">
							<iframe name="rFrameContent" src="" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
    {% endblock %}

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/supplier/supplier.js' %}"></script>

{% block specialScript %}
<script type="text/javascript">
$(document).ready(function () {
    $('body').resize(function () {
        setResolution();
    });
	setResolution(window.innerWidth);
    $('iframe[name=rFrameContent]').attr('src', '/supplier/lokalku/');
});
</script>
{% endblock %}

</body>
</html>