{% extends 'main.html' %}
{% load staticfiles %}

{% block title %} Produk {% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="well well-sm">
            <p class="header-text">Produk</p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %} {% endblock %}

{% block specialScript %}
<script type="text/javascript">
    $(document).ready(function () {
        setLeftSelection(2, 'product');
    });
</script>
{% endblock %}