{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Masuk {% endblock %}</title>

    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/signin.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" >
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="box-signin">
                    <div class="row header">
                        <div class="col-xs-12">
                            <div class="well well-sm">
                                <h3>Masuk</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row content">
                        <div class="col-xs-12" style="margin-bottom: 10px;">
                            <form id="form-signin" method="POST" action="{% url 'signin' %}" target="signinFrame"> {% csrf_token %}
                                {{ form.non_field_errors }}
                                <div class="form-group">
                                    {{ form.email.errors }}
                                    <label class="control-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                    {{ form.email }}
                                </div>
                                <div class="form-group">
                                    {{ form.password.errors }}
                                    <label class="control-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                                    {{ form.password }}
                                </div>
                                <p>
                                    <a href="#" class="forget-password">Lupa Kata Sandi ?</a>
                                </p>
                                <button type="submit" class="btn btn-success pull-right" style="margin-left: 10px;">Masuk</button>
                                <!-- <a class="btn btn-primary pull-right" href="{% url 'signup' %}">Daftar</a> -->
                            </form>
                        </div>
                        <div class="col-xs-12">
                            <div id="signin-alert" class="alert alert-danger hidden" role="alert">
                                <strong>Nama akun / kata sandi salah !</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <iframe id="signinFrame" name="signinFrame"src="" style="display: none;"></iframe>
{% endblock %}

<script type="text/javascript" src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/supplier/supplier.js' %}"></script>
{% block script %}

{% endblock %}
</body>
</html>