{% extends 'supplier/signin.html' %}

{% block title %} Daftar {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="box-signup">
                <div class="row header">
                    <div class="col-xs-12">
                        <div class="well well-sm">
                            <h3>Daftar</h3>
                        </div>
                    </div>
                </div>
                <div class="row content">
                    <div class="col-xs-12" style="margin-bottom: 15px;">
                        <form method="POST" name="signupForm" action="{% url 'signup' %}" onsubmit="checkSignUp(event)" target="signupFrame"> {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                {{ form.name.errors }}
                                <label class="label-control" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                {{ form.username.errors }}
                                <label class="label-control" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                {{ form.email.errors }}
                                <label class="label-control" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                {{ form.password.errors }}
                                <label class="label-control" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                                {{ form.password }}
                            </div>
                            <div class="form-group">
                                {{ form.repassword.errors }}
                                <label class="label-control" for="{{ form.repassword.id_for_label }}">{{ form.repassword.label }}</label>
                                {{ form.repassword }}
                            </div>
                            <div class="form-group">
                                {% for radio in form.gender %}
                                <label class="radio-inline" for="{{ radio.id_for_label }}">
                                    {{ radio.tag }} {{ radio.choice_label }}
                                </label>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.address.errors }}
                                <label class="label-control" for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                                {{ form.address }}
                            </div>
                            <div class="form-group">
                                {{ form.mobile.errors }}
                                <label class="label-control" for="{{ form.mobile.id_for_label }}">{{ form.mobile.label }}</label>
                                {{ form.mobile }}
                            </div>
                            <button type="button" class="btn btn-default pull-left" onclick="javascript:location.href={% url 'signin' %}"><i class="fa fa-arrow-left fa-lg"></i> Kembali</button>
                            <button type="submit" class="btn btn-success pull-right">Daftar</button>
                        </form>
                    </div>
                    <div class="col-xs-12">
                        <div id="signup-alert" class="alert alert-danger hidden" role="alert" style="margin-bottom: 0;">
                            <strong>Nama Akun Sudah Terpakai !</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<iframe id="signupFrame" name="signupFrame"src="" style="display: none;"></iframe>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function () {
    $('#id_gender_0').prop('checked', true);
});
</script>
{% endblock %}