{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE HTML>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Sugestion | Lokalo - Pasarnya Produk Lokal Indonesia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/../../Static/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
</head>

<body>
    <div id="kepala">

        <div class="head-contact" style="background-color: #141414;max-width: 100%;">
            <div class="row" style="padding-top: 6px;">

                <div class="medium-7 columns kiri">
                    <div class="row">
                        <ul class="head-nav">
                            <li><a href="#">(1234) 45454545</a></li>
                            <li><a href="#">Status pemesanan</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="medium-3 columns kanan">

          <div class="sosial-nav" style="">
            <span class="fa-stack fa-lg">
              <a href="#">
                <i class="fa fa-square fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
              </a>
            </span>

            <span class="fa-stack fa-lg">
              <a href="#">
                <i class="fa fa-square fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </a>
            </span>

            <span class="fa-stack fa-lg">
              <a href="#">
                <i class="fa fa-square fa-stack-2x fa-inverse"></i>
                <i class="fa fa-youtube fa-stack-1x"></i>
              </a>
            </span>

            <span class="fa-stack fa-lg">
              <a href="#">
                <i class="fa fa-square fa-stack-2x fa-inverse"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
              </a>
            </span>

            <span class="fa-stack fa-lg">
              <a href="#">
                <i class="fa fa-square fa-stack-2x fa-inverse"></i>
                <i class="fa fa-pinterest-p fa-stack-1x"></i>
              </a>
            </span>

          </div>
        </div>

            </div>
        </div>
        <!--  -->

        <!-- <header> -->
        <div data-sticky-container>
            <div class="title-bar" data-sticky data-options="marginTop:0;">
                <div class="rambut" style=" max-width: 75rem;margin-left: auto;margin-right: auto;">

                    <div class="title-bar-left" style="margin-left: 20px;">
                        <a href="#"><img src="{% static 'images/logox.png' %}"></a>
                    </div>

                    <div class="title-bar-left menu-fixed">
                        <ul id="menu" class="vertical medium-horizontal menu align-left">
                            <li><a href="javascript: void(0)" data-toggle="women-fixed">WOMEN</a></li>
                            <li style="list-style: none;">
                                <div class="dropdown-pane content-big-menu" id="women-fixed" data-dropdown data-hover="false" data-hover-pane="false">
                                    <div class="row">
                                        <div class="large-4 medium-4 small-4 columns">
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>
                                                <div class="large-12 columns for-buttom">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="large-4 medium-4 small-4 columns">
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="large-4 medium-4 small-4 columns">
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>

                                                        <li><a href="#">Item</a></li>

                                                        <li><a href="#">Item</a></li>

                                                        <li><a href="#">Item</a></li>

                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>
                                                <div class="large-12 columns for-buttom">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--  -->

                            <!-- men -->
                            <li><a href="javascript: void(0)" data-toggle="men-fixed">MEN</a></li>
                            <li style="list-style: none;">
                                <div class="dropdown-pane content-big-menu" id="men-fixed" data-dropdown data-hover="false" data-hover-pane="false">
                                    <div class="row">
                                        <div class="large-4 medium-4 small-4 columns">
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>
                                                <div class="large-12 columns for-buttom">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="large-4 medium-4 small-4 columns">
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="large-4 medium-4 small-4 columns">
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>

                                                        <li><a href="#">Item</a></li>

                                                        <li><a href="#">Item</a></li>

                                                        <li><a href="#">Item</a></li>

                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>
                                                <div class="large-12 columns for-buttom">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--  -->

                            <!-- kids -->
                            <li><a href="javascript: void(0)" data-toggle="kids-fixed">KIDS</a></li>
                            <li style="list-style: none;">
                                <div class="dropdown-pane content-big-menu" id="kids-fixed" data-dropdown data-hover="false" data-hover-pane="false">
                                    <div class="row">
                                        <div class="large-4 medium-4 small-4 columns">
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>
                                                <div class="large-12 columns for-buttom">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="large-4 medium-4 small-4 columns">
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="large-4 medium-4 small-4 columns">
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>

                                                        <li><a href="#">Item</a></li>

                                                        <li><a href="#">Item</a></li>

                                                        <li><a href="#">Item</a></li>

                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>
                                                <div class="large-12 columns for-buttom">
                                                    <p>Nav Section</p>
                                                    <hr>
                                                    <ul>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                        <li><a href="#">Item</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- end kids -->
                            <li><a href="javascript: void(0)">AKSESORIS</a></li>
                            <!--  -->
                            <li><a href="javascript: void(0)" data-toggle="smartphone-fixed">SMARTPHONE</a></li>
                            <li style="list-style: none;">
                                <div class="dropdown-pane content-big-menu " id="smartphone-fixed" data-dropdown data-hover="false" data-hover-pane="false">
                                    <div class="row">
                                        <div class="large-3 columns">
                                            <p>Nav Section</p>
                                            <hr>
                                            <ul>
                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>
                                            </ul>
                                        </div>
                                        <div class="large-3 columns">
                                            <p>Nav Section</p>
                                            <hr>
                                            <ul>
                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>
                                            </ul>
                                        </div>
                                        <div class="large-3 columns">
                                            <p>Nav Section</p>
                                            <hr>
                                            <ul>
                                                <li><a href="#">Item</a></li>
                                                <li><a href="#">Item</a></li>
                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>
                                            </ul>
                                        </div>
                                        <div class="large-3 columns">
                                            <p>Nav Section</p>
                                            <hr>
                                            <ul>
                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>

                                                <li><a href="#">Item</a></li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </li>
                            <!--  -->
                        </ul>

                    </div>

                    <div class="title-bar-right">
                        <ul class="menu">
                            <li>
                                <a href="javascript: void(0)" data-toggle="login" onclick="profil('profil');"><i class="fa fa-user"></i><span class="hide-text">Login</span></a>
                                <!--<ul class="vertical menu" id="profil" style="text-align:left;">
                        <li><a href="#"><i class="fa fa-cog"></i>Pengaturan</a></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i>Keluar</a></li>
                        <li style="background:#f25f73;padding:2px;"></li>
                      </ul> -->
                                <ul class="vertical menu" id="profil" style="text-align:left;">
                                    <li>
                                        <div class="login-box">
                                            <div class="wall-e">
                                                <p>
                                                    <input id="email" type="email" placeholder="Masukkan Email Anda">
                                                </p>
                                                <p>
                                                    <input type="password" placeholder="Masukkan Password Anda">
                                                </p>

                                                <p>
                                                    <span class="remember" style="font-size:12px;"><input type="checkbox"> Remember me</span>
                                                    <span class="request" style="font-size:12px;"><a href="#">Request password baru</a></span>
                                                </p>

                                                <p style="margin-bottom:0px;">
                                                    <button style="background:#f25f73;width:100%;margin-top:10px;margin-bottom:0px;" type="button" class="button">MASUK</button>
                                                </p>

                                                <div class="garis_tengah" style="padding-bottom:10px;padding-top:10px;">
                                                    &nbsp; <span class="tengah">atau</span> &nbsp;
                                                </div>

                                                <p style="margin-bottom:0px;">
                                                    <button type="button" style="background:#0d3955;width:100%;margin-bottom:0px;" class="button baru" data-open="daftar">REGISTER</button>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="javascript: void(0)" onclick="keranjang('keranjang');"><i class="fa fa-shopping-bag"></i><span class="hide-text">Keranjang</span> (0)</a>
                                <!-- keranjang isi-->
                                <!-- <ul class="vertical menu list-order" id="keranjang" style="text-align:left">
                                    <li>
                                        <div class="row">
                                            <div class="small-3 columns"><img src="img/produk.jpg" /></div>
                                            <div class="small-4 columns"><a href="#">Jam Tangan Keren</a>
                                                <br />
                                                <div class="row">
                                                    <div class="small-12 columns">1 item</div>
                                                </div>
                                            </div>
                                            <div class="small-3 columns">Rp. 800.000,-</div>
                                            <div class="small-2 columns"><a href="#"><i class="fa fa-times delete"></i></a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="small-3 columns"><img src="img/produk.jpg" /></div>
                                            <div class="small-4 columns"><a href="#">Tas Cantik</a>
                                                <br />
                                                <div class="row">
                                                    <div class="small-12 columns">1 item</div>
                                                </div>
                                            </div>
                                            <div class="small-3 columns">Rp. 800.000,-</div>
                                            <div class="small-2 columns"><a href="#"><i class="fa fa-times delete"></i></a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="small-3 columns"><img src="img/produk.jpg" /></div>
                                            <div class="small-4 columns"><a href="#">Istri Cantik</a>
                                                <br />
                                                <div class="row">
                                                    <div class="small-12 columns">1 item</div>
                                                </div>
                                            </div>
                                            <div class="small-3 columns">Rp. 1.000.000,-</div>
                                            <div class="small-2 columns"><a href="#"><i class="fa fa-times delete"></i></a></div>
                                        </div>
                                    </li>
                                    <li class="detail-keranjang">
                                        <div class="row">
                                            <div class="small-12 columns">
                                                <p class="detail"><a href="#">Detail Keranjang Belanja</a></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul> -->
                                <!-- keranjang kosong-->
                                <ul class="vertical menu list-order" id="keranjang" style="text-align:left">
                                  <li class="kosong-keranjang">
                                      <div class="row">
                                          <div class="small-12 columns">
                                              <p class="detail"><a href="#">Ayo Belanja, Keranjang masih kosong</a></p>
                                          </div>
                                      </div>
                                  </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="title-bar-right search-fixed">
                        <button type="button" class="cari" data-toggle="example-dropdown"><i class="fa fa-search"></i></button>

                        <div class="dropdown-pane align-left search-pane" id="example-dropdown" data-dropdown data-auto-focus="true" ><form>
                            <div class="row">
                                <div class="medium-12 columns">

                                    <select class="kategori">
                                        <option value="0">All</option>
                                        <option value="1">Women</option>
                                        <option value="2">Men</option>
                                        <option value="3">Kids</option>
                                    </select>
                                    <input class="kolom" type="text" placeholder="Cari Produk, Kategori, atau Merk">
                                </div>
                            </div>
                            </form>
                        </div>

                    </div>

                    <div class="title-bar-right pencarian search-normal">
                        <!-- <div id="example-dropdown" data-dropdown data-auto-focus="true"> -->
                        <form class="" action="index.html" method="post">
                            <select class="kategori">
                                <option value="0">All</option>
                                <option value="1">Women</option>
                                <option value="2">Men</option>
                                <option value="3">Kids</option>
                            </select>

                            <input class="kolom" type="text" placeholder="Cari Produk, Kategori, atau Merk">

                            <button class="button cari"><i class="fa fa-search"></i></button>
                        </form>
                        <!-- </div> -->
                    </div>

                    <div class="row menu-normal">
                        <div class="columns large-12" style="margin-top: -21px;">
                            <hr class="garis">

                            <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
                                <button class="menu-icon dark " type="button" data-toggle></button>
                                <div class="title-bar-title">Menu</div>
                            </div>

                            <!--  -->
                            <ul id="menu" class="vertical medium-horizontal menu" style="margin-left: -14px;">
                                <li><a href="#" data-toggle="women">WOMEN</a></li>
                                <li style="list-style: none;">
                                    <div class="dropdown-pane content-big-menu" id="women" data-dropdown data-hover="false" data-hover-pane="false">
                                        <div class="row">
                                            <div class="large-4 medium-4 small-4 columns">
                                                <div class="row">
                                                    <div class="large-12 columns">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="large-12 columns for-buttom">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="large-4 medium-4 small-4 columns">
                                                <div class="row">
                                                    <div class="large-12 columns">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="large-4 medium-4 small-4 columns">
                                                <div class="row">
                                                    <div class="large-12 columns">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>

                                                            <li><a href="#">Item</a></li>

                                                            <li><a href="#">Item</a></li>

                                                            <li><a href="#">Item</a></li>

                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="large-12 columns for-buttom">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--  -->

                                <!-- men -->
                                <li><a href="#" data-toggle="men">MEN</a></li>
                                <li style="list-style: none;">
                                    <div class="dropdown-pane content-big-menu" id="men" data-dropdown data-hover="false" data-hover-pane="false">
                                        <div class="row">
                                            <div class="large-4 medium-4 small-4 columns">
                                                <div class="row">
                                                    <div class="large-12 columns">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="large-12 columns for-buttom">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="large-4 medium-4 small-4 columns">
                                                <div class="row">
                                                    <div class="large-12 columns">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="large-4 medium-4 small-4 columns">
                                                <div class="row">
                                                    <div class="large-12 columns">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>

                                                            <li><a href="#">Item</a></li>

                                                            <li><a href="#">Item</a></li>

                                                            <li><a href="#">Item</a></li>

                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="large-12 columns for-buttom">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--  -->

                                <!-- kids -->
                                <li><a href="#" data-toggle="kids">KIDS</a></li>
                                <li style="list-style: none;">
                                    <div class="dropdown-pane content-big-menu" id="kids" data-dropdown data-hover="false" data-hover-pane="false">
                                        <div class="row">
                                            <div class="large-4 medium-4 small-4 columns">
                                                <div class="row">
                                                    <div class="large-12 columns">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="large-12 columns for-buttom">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="large-4 medium-4 small-4 columns">
                                                <div class="row">
                                                    <div class="large-12 columns">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="large-4 medium-4 small-4 columns">
                                                <div class="row">
                                                    <div class="large-12 columns">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>

                                                            <li><a href="#">Item</a></li>

                                                            <li><a href="#">Item</a></li>

                                                            <li><a href="#">Item</a></li>

                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="large-12 columns for-buttom">
                                                        <p>Nav Section</p>
                                                        <hr>
                                                        <ul>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                            <li><a href="#">Item</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- end kids -->
                                <li><a href="#">AKSESORIS</a></li>
                                <!--  -->
                                <li><a href="#" data-toggle="smartphone">SMARTPHONE</a></li>
                                <li style="list-style: none;">
                                    <div class="dropdown-pane content-big-menu " id="smartphone" data-dropdown data-hover="false" data-hover-pane="false">
                                        <div class="row">
                                            <div class="large-3 columns">
                                                <p>Nav Section</p>
                                                <hr>
                                                <ul>
                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>
                                                </ul>
                                            </div>
                                            <div class="large-3 columns">
                                                <p>Nav Section</p>
                                                <hr>
                                                <ul>
                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>
                                                </ul>
                                            </div>
                                            <div class="large-3 columns">
                                                <p>Nav Section</p>
                                                <hr>
                                                <ul>
                                                    <li><a href="#">Item</a></li>
                                                    <li><a href="#">Item</a></li>
                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>
                                                </ul>
                                            </div>
                                            <div class="large-3 columns">
                                                <p>Nav Section</p>
                                                <hr>
                                                <ul>
                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>

                                                    <li><a href="#">Item</a></li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </li>
                                <!--  -->
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div>

                <!-- </header> -->

                <div class="reveal" id="daftar" data-reveal>
                    <p style="color:#f25f73;">Buat Akun Baru</p>
                    <p>
                        <input id="nama" type="text" placeholder="Nama Lengkap">
                    </p>
                    <p>
                        <input id="email" type="email" placeholder="Email">
                    </p>
                    <p>
                        <input type="password" placeholder="Password">
                    </p>
                    <p>
                        <input type="password" placeholder="Ulangi Password">
                    </p>
                    <p style="margin-bottom:0px;">
                        <span class="remember" style="font-size:12px;">
          <input type="checkbox"> Jawa Ipsum ngadeg lema brengos mambet nupak andhap
        </span>
                    </p>
                    <p style="margin-bottom:0px;">
                        <button style="background:#f25f73;width:100%;margin-top:10px;margin-bottom:0px;margin-top:0px;" type="button" class="button">DAFTAR</button>
                    </p>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>

            <div id="badan">
                <div class="row perut">
                    <div class="columns small-12 medium-12 large-12">
                        <p style="text-align:center;">Silahkan masuk terlebih dahulu untuk melanjutkan</p>
                    </div>


                    <div class="columns small-12 medium-6 large-6 login">
                        <div class="wall">
                            <span class="judul_login">Masuk</span> <span>sebagai tamu</span>
                            <p>
                                <input id="email" type="email" placeholder="Masukkan Email Anda">
                            </p>
                            <p>
                                <button type="button" class="button">LOGIN</button>
                            </p>
                        </div>
                    </div>

                    <div class="columns small-12 medium-6 large-6 login">
                        <div class="wall">
                            <p><span class="judul_login">Masuk</span></p>

                            <p>
                                <input id="email" type="email" name="email" placeholder="Masukkan Email Anda">
                            </p>
                            <p>
                                <input id="password" type="password" placeholder="Masukkan Password Anda">
                            </p>

                            <p>
                                <span class="remember" style="font-size:12px;">
              <input type="checkbox"> Remember me
            </span>
                                <span class="request" style="font-size:12px;"><a href="#">Request password baru</a></span>
                            </p>

                            <p>
                                <button type="button" class="button" onclick="login()">LOGIN</button>
                            </p>

                            <div class="garis_tengah">
                                &nbsp; <span class="tengah">atau</span> &nbsp;
                            </div>

                            <p>
                                <button type="button" class="button baru">Buat akun baru</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <footer id="footer">
                <div id="betis">
                    <div class="row betis">
                        <div class="small-12 medium-5 large-6 columns kiri">
                            <p><img src="{% static 'images/logo-putih.png' %}"></p>
                            <p class="betis_kiri">Jawa Ipsum ngadeg lema brengos mambet numpak andhap Jawa Ipsum tanem. Ngundang tilem peksi rambut bapak gegriya; sakit gesang wingking kengken ron adus gelung kirangan lema nanem brengos. Radinan, supe. Bucal dandos sesupe
                                damel wiar maos mular kelud motong sakit kemben. Mendem geger balung kapal. <a href="#">selengkapnya ...</a></p>

                            <div class="input-group subscribe">
                                <input class="input-group-field langganan" type="text" placeholder="Enter Your Email Address">
                                <div class="input-group-button">
                                    <input type="submit" class="button tombol" value="SUBSCRIBE">
                                </div>
                            </div>

                            <div class="sosial">
                                <span class="fa-stack fa-lg">
              <a href="#">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
              </a>
            </span>

                                <span class="fa-stack fa-lg">
              <a href="#">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </a>
            </span>

                                <span class="fa-stack fa-lg">
              <a href="#">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-instagram fa-stack-1x"></i>
              </a>
            </span>

                                <span class="fa-stack fa-lg">
              <a href="#">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-pinterest fa-stack-1x"></i>
              </a>
            </span>

                                <span class="fa-stack fa-lg">
              <a href="#">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-rss fa-stack-1x"></i>
              </a>
            </span>
                            </div>
                        </div>

                        <div class="medium-7 large-6 columns kanan">
                            <div class="row">
                                <div class="medium-4 large-4 columns">
                                    <p class="judul">SHOPS</p>

                                    <ul>
                                        <li><a href="#">New In</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Bags & Accessories</a></li>
                                        <li><a href="#">Top Brands</a></li>
                                        <li><a href="#">Sale & Special Offers</a></li>
                                        <li><a href="#">Lookbook</a></li>
                                    </ul>
                                </div>

                                <div class="medium-4 large-4 columns">
                                    <p class="judul">INFORMATION</p>

                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Customer Service</a></li>
                                        <li><a href="#">New Collection</a></li>
                                        <li><a href="#">Best Sellers</a></li>
                                        <li><a href="#">Manufacturers</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Term & Condition</a></li>
                                        <li><a href="#">Blog</a></li>
                                    </ul>
                                </div>

                                <div class="medium-4 large-4 columns">
                                    <p class="judul">CUSTOMER SERVICE</p>

                                    <ul>
                                        <li><a href="#">Search Term</a></li>
                                        <li><a href="#">Advanced Search</a></li>
                                        <li><a href="#">Orders and Returns</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">RSS</a></li>
                                        <li><a href="#">Help & FAQs</a></li>
                                        <li><a href="#">Consultant</a></li>
                                        <li><a href="#">Store Locations</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="kaki">
                    <div class="row">
                        <div class="columns large-12">
                            <hr />
                            <div class="segitiga"></div>

                            <div class="telapak">
                                <a href="#0" class="cd-top">Top</a> &copy; 2016 Lokalo-id.com
                                <br /> All Rights Reserved. Ecommerce Software by <a href="#">Lokalo-id.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
            <script src="{% static 'js/what-input.js' %}"></script>
            <script src="{% static 'js/foundation.min.js' %}"></script>
            <script src="{% static 'js/app.js' %}"></script>

            <script type="text/javascript">
                $(function() {
                    $('a[href*="#"]:not([href="#"])').click(function() {
                        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                            var target = $(this.hash);
                            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                            if (target.length) {
                                $('html, body').animate({
                                    scrollTop: target.offset().top
                                }, 1000);
                                return false;
                            }
                        }
                    });
                });
            </script>
</body>

</html>
