{% extends 'index.html' %}

{% load staticfiles %}

{% block title %}
Product-Detail
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l5">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col s12">
                        <img src="http://lorempixel.com/580/250/nature/2" class="responsive-img materialboxed" style="height: 300px;margin-top: 10px;">
                    </div>
                    <div id="detail-carouselProduct" class="col s12" style="margin-top: 10px;">
                        <div class="carousel">
                            <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
                            <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
                            <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
                            <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
                            <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l5">
                <div class="col s12">
                    <div class="detail-box-infoProduct">
                        <ul class="collection with-header">
                            <li class="collection-header"><h4>Nama Product</h4></li>
                            <li class="collection-item">Merk  : abc</li>
                            <li class="collection-item">Tipe  : abc</li>
                            <li class="collection-item">Harga : Rp 100.000</li>
                            <li class="collection-item">Stok  : 2</li>
                            <li class="collection-item">
                                <button class="btn">Add to cart</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l5">

            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="detailProduct">
                    <p>Detail Here</p>
                    <p>Detail Here</p>
                    <p>Detail Here</p>
                    <p>Detail Here</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
      $('.carousel').carousel();
    });
</script>
{% endblock %}